@using Resources = BizPortal.Resources
@using BizPortal.Utils.Helpers
@model FormSection
@{
    Dictionary<string, object> defaults = ViewBag.Defaults;
    string companyName = string.Empty;

    if (defaults.ContainsKey("COMPANY_NAME_TH"))
    {
        companyName = defaults["COMPANY_NAME_TH"].DefaultString();
    }

    var rd = string.Empty;
    if (Model.PartialReadonly)
    {
        rd = "disabled";
    }
}

<div class="col-md-12">
    <p style="white-space: pre-line;">
        ด้วยข้าพเจ้า <strong id="onlineRegisCompName"></strong> ต่อไปจะเรียกว่า “ผู้ยื่นคำขอ” ได้ยื่นคำขอจดทะเบียนภาษีมูลค่าเพิ่มผ่านเครือข่ายอินเทอร์เน็ต
        และตกลงที่จะผูกพันและปฏิบัติตามเงื่อนไขดังต่อไปนี้

        1. ผู้ยื่นคำขอยินยอมให้เจ้าพนักงานสรรพากรเข้าตรวจสถานประกอบการของผู้ยื่นคำขอตามที่แจ้งในคำขอจดทะเบียนภาษีมูลค่าเพิ่ม

        2. กรณีผู้ยื่นคำขอใช้สถานที่อยู่อาศัยของบุคคลอื่นเป็นสถานประกอบการ หรือใช้สถานประกอบการของบุคคลอื่นเป็นสถานประกอบการ
        หรือตั้งอยู่ในอาคารชุด ต้องมีสัญญาเช่าอสังหาริมทรัพย์ หรือหนังสือยินยอมให้ใช้เป็นที่ตั้งสถานประกอบการ หรือหนังสือรับรอง
        ของผู้จัดการนิติบุคคลอาคารชุด

        3. ผู้ยื่นคำขอตกลงและยอมรับว่า หากผลการตรวจของเจ้าพนักงานพบว่า แสดงรายการในคำขอเป็นเท็จ ไม่มีสถานประกอบการจริง
        เป็นตัวแทนเชิด หรือไม่ได้ประกอบการจริง จะถือว่าผู้ยื่นคำขอมิได้เป็นผู้ประกอบการจดทะเบียนตั้งแต่วันที่ยื่นคำขอ หรือถูกเพิกถอน
        ใบทะเบียนภาษีมูลค่าเพิ่ม (ภ.พ.20) ในภายหลัง

        4. ผู้ยื่นคำขอมิได้เป็นผู้ประกอบการจดทะเบียนย่อมไม่มีสิทธิออกใบกำกับภาษี หากผู้ยื่นคำขอได้ออกใบกำกับภาษีไปแล้ว ต้องรับผิดเสีย
        ภาษีมูลค่าเพิ่ม เบี้ยปรับและเงินเพิ่ม ตามมาตรา 88/1 แห่งประมวลรัษฎากร

        5. ผู้ยื่นคำขอต้องรับผิดชอบต่อผลเสียหายที่เกิดขึ้นต่อผู้ประกอบการที่นำใบกำกับภาษีซื้อต้องห้ามของผู้ยื่นคำขอไปใช้

        6. กรมสรรพากรจะไม่รับผิดชอบต่อความเสียหาย ความสูญเสียหรือค่าใช้จ่ายที่เกิดขึ้นไม่ว่าทางตรงหรือทางอ้อม อันเป็นผลสืบเนื่อง
        มาจากการที่ผู้ยื่นคำขอได้จดทะเบียนภาษีมูลค่าเพิ่มผ่านระบบเครือข่ายอินเทอร์เน็ต หรือเกิดจากความล้มเหลวในการใช้งาน
        ความผิดพลาด การหยุดชะงัก ความไม่สมบูรณ์ของระบบคอมพิวเตอร์ รวมถึงการเรียกร้องค่าเสียหายหรือค่าใช้จ่าย หรือการกระทำใดๆ
        อันส่งผลต่อบุคคลภายนอกในความเสียหายทางตรงหรือทางอ้อม

        7. กรมสรรพากรขอสงวนสิทธิในการปรับปรุง เปลี่ยนแปลง แก้ไข ยกเลิกหรือระงับการอนุมัติการเป็นผู้ประกอบการจดทะเบียน
        ภาษีมูลค่าเพิ่มแก่ผู้ยื่นคำขอ และในกรณีที่มีการเปลี่ยนแปลงใด ๆ ในระบบ ให้ถือว่าผู้ยื่นคำขอได้ยอมรับการเปลี่ยนแปลงดังกล่าวแล้ว

        8. ผู้ยื่นคำขอได้อ่านข้อตกลงในการจดทะเบียนภาษีมูลค่าเพิ่มทางระบบเครือข่ายอินเทอร์เน็ต ข้างต้นแล้ว และยอมรับที่จะปฏิบัติตาม
        ที่กฎหมายกำหนด
    </p>
</div>
<div class="col-md-12">
    <div class="checkbox">
        <label for="VAT_ONLINE_REGIS_CHECK" class="bold">
            <input type="checkbox" name="VAT_ONLINE_REGIS_CHECK" id="VAT_ONLINE_REGIS_CHECK" value="true" @rd />
            @ResourceHelper.GetResourceWordWithDefault("ACCEPT", "Apps_SingleForm", "ACCEPT")
        </label>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '@Url.Content("~/Api/v2/VAT/JuristicName")',
            dataType: 'json',
            success: function (data) {
                if (data) {
                    $("#onlineRegisCompName").append(data["JuristicName"]);
                }
            }
        });


@if (!Model.PartialReadonly)
{
    <text>
        singleForm.customRules['VAT_ONLINE_REGIS_CHECK'] = {
            customrequiredif: { dependentproperty: 'Status', targetvalue: '@ApplicationStatusV2Enum.WAITING.ToString()' }, messages: { customrequiredif: 'กรุณายอมรับข้อตกลงการยื่นคำขอจดทะเบียนภาษีมูลค่าเพิ่มผ่านทางระบบเครือข่ายอินเทอร์เน็ต' }
        };
    </text>
}
    });
</script>
