@using Resources = BizPortal.Resources
@using BizPortal.Utils.Helpers
@model FormSection

@{
    var rd = string.Empty;
    if (Model.PartialReadonly)
    {
        rd = "disabled";
    }
}

<div class="col-md-12">
    <label>ผู้มีสิทธิยื่นคำขอจดทะเบียน</label>
    <p style="white-space: pre;">1.ผู้ประกอบการฯ ที่มีหน้าที่เสียภาษีมูลค่าเพิ่ม ได้แก่
1.1 ผู้ประกอบการซึ่งประกอบกิจการขายสินค้าหรือให้บริการที่มีรายรับเกิน 1,800,000 บาทต่อปี
1.2 ผู้ประกอบการซึ่งมีแผนงานที่สามารถพิสูจน์ได้ว่าได้เตรียมการเพื่อประกอบกิจการขายสินค้าหรือให้บริการ ที่อยู่ในบังคับ
ต้องเสียภาษีมูลค่าเพิ่ม อันเป็นเหตุให้ต้องมีการซื้อสินค้าหรือรับบริการที่อยู่ในบังคับต้องเสียภาษีมูลค่าเพิ่ม เช่น ก่อสร้างโรงงาน
ติดตั้งเครื่องจักร</p>
<p class="bold settimer-on" style="color:navy;">1.3 ผู้ส่งออกซึ่งประสงค์ที่จะจดทะเบียนภาษีมูลค่าเพิ่ม</p>
<p class="settimer-off" hidden>1.3 ผู้ส่งออกซึ่งประสงค์ที่จะจดทะเบียนภาษีมูลค่าเพิ่ม</p>
<p style="white-space: pre;">แบบฯ ที่ใช้ ได้แก่ แบบ ภ.พ.01 คำขอจดทะเบียนภาษีมูลค่าเพิ่มตามประมวลรัษฎากร
    
2.ผู้ประกอบการที่ได้รับการยกเว้น ภาษีมูลค่าเพิ่มตามที่กำหนดในมาตรา 81/3 แห่งประมวลรัษฎากร และประสงค์ขอจดทะเบียน
ภาษีมูลค่าเพิ่ม ได้แก่</p>
<p class="bold settimer-on" style="color:navy;">2.1 ผู้ประกอบการขายสินค้าที่มิใช่การส่งออก หรือการให้บริการ ตามมาตรา 81 (1) (ก) ถึง (ฉ)</p>
<p class="settimer-off" hidden>2.1 ผู้ประกอบการขายสินค้าที่มิใช่การส่งออก หรือการให้บริการ ตามมาตรา 81 (1) (ก) ถึง (ฉ)</p>
<p style="white-space: pre;">2.2 ผู้ประกอบการที่มีรายรับไม่เกิน 1,800,000 บาทต่อปี
แบบฯ ที่ใช้ ได้แก่
(1)แบบ ภ.พ.01.1 คำขอแจ้งใช้สิทธิ์เพื่อขอจดทะเบียนภาษีมูลค่าเพิ่มตามประมวลรัษฎากร
(2)ได้แก่ แบบ ภ.พ.01 คำขอจดทะเบียนภาษีมูลค่าเพิ่มตามประมวลรัษฎากร
    - สามารถยื่นจดทะเบียนได้ในวันเดียวกันกับวันที่ยื่นแบบภ.พ.01.1
    - ยื่นภายใน 30 วัน นับแต่วันที่ได้ยื่น ภ.พ.01.1
    </p>
</div>
<div class="col-md-12">
    <label>การให้บริการ</label>
    <p style="white-space: pre;">1.ยื่นคำขอจดทะเบียนภาษีมูลค่าเพิ่มได้ทุกวัน ตลอด 24 ชั่วโมง
2.ยื่นคำขอในเวลาที่กฏหมายกำหนด โดยไม่ต้องแนบเอกสารหลักฐาน
3.ต้องมีเลขประจำตัวผู้เสียภาษีอากร โดย นิติบุคคลที่ตั้งขึ้นตามกฏหมายไทย (ไม่รวมนิติบุคคลที่เกิดจากการควบกิจการ) ที่ยังไม่มี
เลขประจำตัวผู้เสียภาษีอากร ให้ใช้เลขทะเบียนนิติบุคคลจากกรมพัฒนาธุรกิจการค้าเพื่อยื่นคำขอจดทะเบียน
4.กรมสรรพากรจะแจ้งผลการพิจารณาให้ทราบทางไปรษณีย์อิเล็กทรอนิกส์ (e-mail) และทางอินเทอร์เน็ต และจะได้เป็นผู้ประกอบการ
จดทะเบียนตั้งแต่วันที่ยื่นจดทะเบียนคำขอ
    </p>
</div>
<div class="col-md-12">
    <label>คำเตือน</label>
    <p style="white-space: pre;">การยื่นรายการจดทะเบียนภาษีมูลค่าเพิ่มเป็นเท็จ ท่านจะต้องรับผิดทั้งทางแพ่งและอาญา
ผู้ที่จดทะเบียนภาษีมูลค่าเพิ่ม มีภาระและหน้าที่ในการยื่นแบบแสดงรายการภาษีมูลค่าเพิ่ม ตามกฎหมาย
เพื่อประโยชน์ในการพิจารณาอนุมัติให้เป็นผู้ประกอบการจดทะเบียน ท่านควรอ่านคำแนะนำการจดทะเบียน และเลือกระบุประเภท
การประกอบการฯ ที่ตรงกับความต้องการจดทะเบียนของท่านให้ถูกต้องและจะไม่ใช้วัสดุในเขตทางหลวง
    </p>
</div>
<div class="col-md-12">
    <div class="checkbox">
        <label for="VAT_AGREEMENT_CHECK" class="bold">
            <input type="checkbox" name="VAT_AGREEMENT_CHECK" id="VAT_AGREEMENT_CHECK" value="true" @rd />
            @ResourceHelper.GetResourceWordWithDefault("VAT_AGREEMENT_CHECK", "Apps_SingleForm", "VAT_AGREEMENT_CHECK")
        </label>
    </div>
</div>

@if (!Model.PartialReadonly)
{

    <script type="text/javascript">
        $(function () {
            // Start set timer
            var currentDate = new Date();
            var startingDate = new Date("Dec 1, 2018 05:00:00");

            if (currentDate.getTime() > startingDate.getTime()) {
                $('.settimer-on').hide();
                $('.settimer-off').show();
            }
            // End timer

            singleForm.customRules['VAT_AGREEMENT_CHECK'] = {
                customrequiredif: { dependentproperty: 'Status', targetvalue: '@ApplicationStatusV2Enum.WAITING.ToString()' }, messages: { customrequiredif: 'กรุณายืนยันการจดทะเบียน' }
            };
        });
    </script>
}