@using BizPortal.Utils.Extensions
@{
    ViewBag.Title = "ค้นหาข้อมูลหลักประกัน";
    Layout = "~/Areas/Apps/Views/Shared/_AppsLayoutV2Empty.cshtml";
}
<style>
    p{
        text-indent:2em;
    }

    .agreement-space{
        padding-top:20px;
        padding-bottom:10px;
    }
</style>
<div class="container agreement-bs" id="agreement-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"><h3>ค้นหาข้อมูลหลักประกัน</h3></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 agreement-space">
            <h5>วัตถุประสงค์</h5>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                ระบบตรวจค้นข้อมูลหลักประกันการชำระหนี้ทางอิเล็กทรอนิกส์ เป็นเว็บไซต์ที่จัดทำขึ้นโดยมีวัตถุประสงค์เพื่อเป็นศูนย์กลางในการตรวจค้นข้อมูลการจดทะเบียนทรัพย์สินเป็นหลักประกันการชำระหนี้ภายใต้ประมวลกฎหมายแพ่งและพาณิชย์
                และพระราชบัญญัติหลักประกันทางธุรกิจ พ.ศ.2558 โดยมุ่งหวังให้บุคคลหรือหน่วยงานที่เกี่ยวข้องสามารถเข้าถึงข้อมูลดังกล่าวได้โดยสะดวก รวดเร็ว
                และมีประสิทธิภาพ รวมทั้งสามารถนำข้อมูลดังกล่าวไปใช้ให้เกิดประโยชน์
            </p>
            <p>
                ทั้งนี้ ในการใช้บริการให้ถือว่าผู้ใช้บริการได้ตกลงที่จะปฏิบัติตามเงื่อนไขและข้อกำหนด
                หากผู้ใช้บริการไม่ประสงค์ที่จะผูกพันตามเงื่อนไขและข้อกำหนด ขอความกรุณายุติการเข้าใช้งานเว็บไซต์นี้
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 agreement-space">
            <h5>เงื่อนไขและข้อกำหนดการใช้งาน</h5>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>ด้วยเหตุผลด้านความปลอดภัยของข้อมูล และการป้องกันผลกระทบจากการนำข้อมูลไปใช้ ผู้ใช้บริการขอยอมรับเงื่อนไขการใช้บริการ ดังนี้</p>
            <p>
                1. ผู้ใช้บริการต้องพึงระมัดระวัง สำหรับการนำข้อมูลไปใช้ในการประมวลผล วิเคราะห์ เผยแพร่
                และการแลกเปลี่ยนกับบุคคลที่สามโดยเฉพาะกรณีที่เป็นข้อมูลข่าวสารส่วนบุคคล ซึ่งการเปิดเผยอาจจะเป็นการรุกล้ำสิทธิส่วนบุคคลโดยไม่สมควร
                และก่อให้เกิดความเสียหายต่อบุคคลซึ่งเป็นเจ้าของข้อมูลหรือส่วนราชการ ผู้ที่เปิดเผยจะต้องรับผิดชอบความเสียหายนั้น
            </p>
            <p>
                2. ข้อมูลที่ให้บริการแก่ผู้ใช้ เป็นข้อมูลสำหรับการตรวจสอบข้อมูลหลักประกันการชำระหนี้ โดยไม่มีค่าใช้จ่าย
                หากผู้ใช้บริการนำข้อมูลไปใช้เพื่อวัตถุประสงค์อื่นหรือมีการนำข้อมูลไปดัดแปลง แก้ไขหรือเผยแพร่แก่บุคคลที่สาม
                อาจมีความผิดตามกฎหมายผู้กระทำต้องรับผิดในการนำข้อมูลไปดัดแปลง แก้ไขหรือเผยแพร่นั้น
            </p>
            <p>
                3. ระบบนี้มีการเชื่อมโยงไปยังเว็บไซต์ของหน่วยงานอื่นๆ ในการตรวจดูข้อมูลเกี่ยวกับการจดทะเบียนทรัพย์สินที่เป็นหลักประกันการชำระหนี้
                เพื่อวัตถุประสงค์ในการให้ข้อมูลและความสะดวกของผู้ใช้บริการเท่านั้น ความถูกต้อง สมบูรณ์เพียงพอ เป็นปัจจุบันของข้อมูล อยู่ในความรับผิดชอบ ควบคุมดูแลของหน่วยงานนั้นๆ ผู้ใช้บริการควรศึกษารายละเอียดข้อกำหนดและเงื่อนไขในการใช้บริการของเว็บไซต์นั้นๆ ก่อนเข้าใช้บริการ
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-check text-center agreement-space">
                <input type="checkbox" class="form-check-input" id="agree">
                <label class="form-check-label" for="agree">ข้าพเจ้าได้อ่านและยอมรับเงื่อนไขข้างต้นทุกประการ</label>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4"></div>
        <div class="col-md-2 text-center agreement-space">
            <a class="btn btn-default btn-success" href="@Url.ServiceAction("Index", "BusinessSecured", new { area = "Apps", language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })" id="btnSubmit">ตกลง</a>
            <a class="btn btn-default btn-danger" href="@Url.BizAction("Index", "Home", new { area = "", language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })">ยกเลิก</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade agreement-bs" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">          
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">                      
                        <div class="col-md-12">
                            <div class="p20 text-center">กรุณาคลิกยอมรับ เมื่ออ่านเงื่อนไขข้างต้นทุกประการแล้ว</div>                       
                        </div>                      
                    </div>                 
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <div class="p20 text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
                            </div>                    
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnSubmit").on("click", function () {
        if (document.getElementById('agree').checked) {
            return true;
        } else {
            $("#modalCenter").modal('show');
            return false;
        }
    });
</script>

