<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    เรื่อง ขึ้นทะเบียนกองทุนเงินทดแทนและกองทุนประกันสังคม (สปส.1-01)
    <br /> เรียน นายจ้าง/เจ้าของสถานประกอบการ
    <br /><br />
    สำนักงานประกันสังคมได้รับเอกสารการขึ้นทะเบียนกองทุนเงินทดแทนและกองทุนประกันสังคมของท่านแล้ว ตั้งแต่วันที่ <::SUBMIT_DATE::>
        และกำลังอยู่ในระหว่างการดำเนินการ ของสำนักงานประกันสังคม เมื่อท่านได้รับการอนุมัติแล้ว ในการติดต่อสำนักงานฯ ขอให้ท่านแจ้งเลขที่บัญชีดังกล่าวทุกครั้ง
        และขอเรียนชี้แจงเพิ่มเติมดังนี้<br />
        <ol>
            <li>กองทุนเงินทดแทน ให้ความคุ้มครองแก่ลูกจ้างที่ประสบอันตราย เจ็บป่วย ทุพพลภาพ หรือตาย อันเนื่องจากการทำงานให้นายจ้าง โดยนายจ้างเป็นผู้จ่ายเงินสมทบฝ่ายเดียว ปีละ 1 ครั้ง ทั้งนี้ สำนักงานประกันสังคมจะส่งใบประเมินเงินสมทบ(กท.26ก) ให้ท่านหลังจากอนุมัติทาง e-mail หรือดูได้ที่ <a href='http://biz.govchannel.go.th/th/track/'>http://biz.govchannel.go.th/th/track/</a> โดยชำระเงินผ่าน ธนาคารกรุงไทย ธนาคารกรุงศรีอยุธยา ธนาคารธนชาต และเคาน์เตอร์เซอร์วิส ชำระเงินภายใน 30 วัน หากพ้นกำหนดแล้วจะต้องชำระเงินเพิ่มอีกร้อยละ 3 ต่อเดือน ในปีต่อๆ ไปชำระภายในเดือนมกราคมของทุกปี</li>
            <li>
                กองทุนประกันสังคม ให้ความคุ้มครองแก่ผู้ประกันตนที่ประสบอันตรายหรือเจ็บป่วย ทุพพลภาพ ตาย อันมิใช่เนื่องจากการทำงาน คลอดบุตร สงเคราะห์บุตร ชราภาพ และว่างงาน โดยให้นายจ้างหักค่าจ้างลูกจ้าง<u>ทุกครั้งที่มีการจ่ายค่าจ้าง</u>ในอัตราเงินสมทบร้อยละ 5 ของค่าจ้าง <u>ซึ่งกำหนดจากฐานค่าจ้างเป็นรายเดือนไม่ต่ำกว่าเดือนละ 1,650 บาท และไม่เกินเดือนละ 15,000 บาท </u> และนายจ้างสมทบ เท่ากับจำนวนที่หักจากลูกจ้าง ดังนี้
                <ol>
                    <li>ยื่นแบบแสดงรายการนำส่งเงินสมทบ (สปส. 1-10 ส่วนที่ 1 และส่วนที่ 2) <a href='http://www.sso.go.th/wpr/uploads/uploadImages/file/sps1-10-041055(3)(1).pdf'>http://www.sso.go.th/wpr/uploads/uploadImages/file/sps1-10-041055(3)(1).pdf</a> และแบบสรุปการนำส่งเงินสมทบกรณีนายจ้างยื่นชำระเงินสมทบรวมกับสาขา (สปส.1-10/1) http://www.sso.go.th/sites/default/files/12_2.pdf ภายในวันที่ 15 ของเดือนถัดไป</li>
                    <li>ส่งข้อมูลเงินสมทบได้ที่บริการอิเล็กทรอนิกส์(e-service) <a href='http://www.sso.go.th/eservices'>http://www.sso.go.th/eservices </a></li>
                    <li>ชำระเงินผ่านเคาน์เตอร์ธนาคารได้ 3 ธนาคาร ได้แก่ ธนาคารกรุงไทย ธนาคารกรุงศรีอยุธยา ธนาคารธนชาต และบริการผ่าน E-Paymant 7 ธนาคาร ได้แก่ ธนาคารกรุงศรีอยุธยา ธนาคารซิตี้แบงค์ ธนาคารมิซูโฮ คอร์ปอเรต ธนาคารซูมิโตโม มิตซุยแบงกิ้ง คอร์ปอเรชั่น ธนาคารไทยพาณิชย์ ธนาคารกรุงไทย ธนาคารกสิกรไทย หากพ้นกำหนดชำระแล้วจะต้องชำระเพิ่มเติมอีก ร้อยละ 2 ต่อเดือน <a href='http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468'>http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468</a></li>
                </ol>
            </li>
        </ol>
        <u>ทั้งนี้ หากท่านประสงค์จะติดต่อกับสำนักงานประกันสังคม สามารถติดต่อได้ที่ <a href='http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468'>http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468</a> </u><br /><br /> จึงเรียนมาเพื่อทราบ<br /> สำนักงานประกันสังคม
</body>
</html>
