<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    Subject: Subsidy and Social security registration, Social Security Office 1-01
    <br /> Dear Employer
    <br /><br />
    Social Security Office has received the document regarding of Subsidy and Social security registration since <::SUBMIT_DATE::>
        and it is still on process of subsidy and social security. Once you are approved,
        you should use this account whenever you have to deal with the Subsidy and Social security office.
        Additional remarks are as follows:
        <br />
        <ol>
            <li>Compensation Fund protects employees who are injured, sick, disable or dead because of work. Employers must pay subsidy 1 time per year. The Social Security office will send subsidy assessment form (Fund 26F) by email or it could be seen at http://biz.govchannel.go.th/th/track/. Employers could pay money at Krungthai bank Company Limited or Krungsri bank Company Limited Thanachart bank and counter services within 30 days. . If Overdue, employers must pay 3% more per month. For the following years, The payment would be collected by Januaries.</li>
            <li>
                Social security protects employees who are injured, sick, disable or dead not because of work such as giving birth, children welfare senescence or unemployment. Employers should deduct wage of employees every time as a subsidy rate of 5% of wage provided from monthly wage which is at least 1,650 bath and no more than 15,000 per month. In addition, employers should add the amount of money that equal to deducted wage of employees.
                <ol>
                    <li>Filling subsidy list form (Social Security Office 1-10, part 1 and part 2) <a href='http://www.sso.go.th/wpr/uploads/uploadImages/file/sps1-10-041055(3)(1).pdf'>http://www.sso.go.th/wpr/uploads/uploadImages/file/sps1-10-041055(3)(1).pdf</a> and subsidy summary form in case of employers submitting subsidy payment with branches (Social Security Office 1-10) http://www.sso.go.th/sites/default/files/12_2.pdf within 15th of the next month.</li>
                    <li>Filling subsidy information at e-service <a href='http://www.sso.go.th/eservices'>http://www.sso.go.th/eservices </a></li>
                    <li>Employer could pay money at 3 banks such as Krungthai bank Company Limited or Krungsri bank Company Limited Thanachart bank and E-payment services of 7 banks such as Krungsri bank, Citybank, MIZUHO CORPORATE BANK, SUMITOMO MITSUI BANKING CORPORATION, Siam commercial bank, Krungthai bank, Kasikorn bank. If Overdue, you must pay more money as 2% by month as follow link <a href='http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468'>http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468</a></li>
                </ol>
            </li>
        </ol>
        <u>However, if you would like to contact the Social security office, Please contact at <a href='http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468'>http://www.sso.go.th/wpr/content.jsp?lang=th&cat=970&id=4468</a> </u>
        <br /><br />
        Please be informed accordingly.<br />
        Social Security Office
</body>
</html>
