@using BizPortal.Utils.Helpers

<script id="APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTIONTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">

        <div class="row">

            <div class="col-md-4">
                <label>ชนิดพืช :</label>
                {{ this.APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_TYPE }}
            </div>

            <div class="col-md-4">
                <label>ขนาดพื้นที่ (ไร่) :</label>
                {{ this.APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_AREA }}
            </div>

            <div class="col-md-4">
                <label>จำนวนต้น (เฉพาะไม้ผล) :</label>
                {{ this.APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_TREE_AMOUNT }}
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <label>จำนวนรอบการผลิต/ปี :</label>
                {{ this.APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_YEAR_AMOUNT }}
            </div>

            <div class="col-md-4">
                <label>ช่วงการผลิต (เดือนเริ่มต้น) :</label>
                {{ this.DROPDOWN_APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_START_MONTH_TEXT }}
            </div>

            <div class="col-md-4">
                <label>ช่วงการผลิต (เดือนสิ้นสุด) :</label>
                {{ this.DROPDOWN_APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_END_MONTH_TEXT }}
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <label>เดือนที่คาดว่าจะเก็บเกี่ยว :</label>
                {{ this.DROPDOWN_APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_HARVEST_TEXT }}
            </div>

            <div class="col-md-6">
                <label>ปริมาณผลผลิตที่คาดว่าจะได้รับ (กิโลกรัม) :</label>
                {{ this.APP_ORGANIC_PLANT_PRODUCTION_RENEW_STANDALONE_INFO_ORGANIC_TYPE_SECTION_ORGANIC_PRODUCE_AMOUNT }}
            </div>

        </div>

    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, StringHelper.DefaultIfEmpty(Model.ResourceName, "Apps_SingleForm_Template"), Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}
</script>