@using BizPortal.Utils.Helpers

<script id="APP_CLINIC_RENEW_DAY_TIME_SECTIONTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-4">
            <label>@BizPortal.Resources.PermitResource.RESOURCE_APP_CLINIC_RENEW.APP_CLINIC_RENEW_DAY_TIME_SECTION_DAY :</label>
            {{this.DROPDOWN_APP_CLINIC_RENEW_DAY_TIME_SECTION_DAY_TEXT}}
        </div>
        <div class="col-md-4">
            <label>@BizPortal.Resources.PermitResource.RESOURCE_APP_CLINIC_RENEW.APP_CLINIC_RENEW_DAY_TIME_SECTION_OPENING_TIME :</label>
            {{this.DROPDOWN_APP_CLINIC_RENEW_DAY_TIME_SECTION_OPENING_TIME_TEXT}}
        </div>
        <div class="col-md-4">
            <label>@BizPortal.Resources.PermitResource.RESOURCE_APP_CLINIC_RENEW.APP_CLINIC_RENEW_DAY_TIME_SECTION_CLOSING_TIME :</label>
            {{this.DROPDOWN_APP_CLINIC_RENEW_DAY_TIME_SECTION_CLOSING_TIME_TEXT}}
        </div>
        <div class="col-md-2 pr5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MODAL_{{../section}}" onclick="singleForm.functions.editDataArrayObj(singleForm.variables.arrObj{{../section}}, {{ARR_IDX}})">แก้ไขข้อมูล</button>
        </div>
        <div class="col-md-2 pl5">
            <button type="button" class="btn btn-danger" onclick="singleForm.functions.removeArrayObj(singleForm.variables.arrObj{{../section}}, {{ARR_IDX}})">ลบรายการ</button>
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, StringHelper.DefaultIfEmpty(Model.ResourceName, "Apps_SingleForm_Template"), Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}
</script>