@using BizPortal.Utils.Helpers
<script id="APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTIONTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-8">
            <label>ลำดับที่ :</label>
            {{ARR_IDX}}
        </div>
        <div class="col-md-2 pr5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MODAL_{{../section}}" onclick="singleForm.functions.editDataArrayObj(singleForm.variables.arrObj{{../section}}, {{ARR_IDX}})">แก้ไขข้อมูล</button>
        </div>
        <div class="col-md-2 pl5">
            <button type="button" class="btn btn-danger" onclick="singleForm.functions.removeArrayObj(singleForm.variables.arrObj{{../section}}, {{ARR_IDX}})">ลบรายการ</button>
        </div>
        <div class="col-md-6">
            <label>ชื่อธนาคาร :</label>
            {{this.DROPDOWN_APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTION_BANK_NAME_TEXT}}
        </div>
        <div class="col-md-6">
            <label>สาขา :</label>
            {{this.APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTION_BRANCH}}
        </div>
        <div class="col-md-6">
            <label>ชื่อบัญชี :</label>
            {{this.APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTION_ACCOUNT_NAME}}
        </div>
        <div class="col-md-6">
            <label>เลขที่บัญชี :</label>
            {{this.APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTION_ACCOUNT_ID}}
        </div>
        <div class="col-md-6">
            <label>วันที่ครบกำหนด :</label>
            {{this.APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTION_DUE_DATE}}
        </div>
        <div class="col-md-6">
            <label>จำนวนเงิน (บาท) :</label>
            {{this.APP_ACCOUNTING_DETAIL_DEPOSIT_CARD_SECTION_AMOUNT}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, StringHelper.DefaultIfEmpty(Model.ResourceName, "Apps_SingleForm_Template"), Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}
</script>
