@using BizPortal.Utils.Helpers
    <script id="F01_BOX2Template" type="text/x-handlebars-template">
        {{#xif " data.length > 0 " }}
        <div class="row">
            <div class="col-md-3">
                <label>@BizPortal.Resources.Apps_SingleForm.TYPE_OF_PRODUCT :</label>
            </div>
            <div class="col-md-3">
                <label>@BizPortal.Resources.Apps_SingleForm.MANUFACTURING_PER_YEAR :</label>
            </div>
            <div class="col-md-3">
                <label>@BizPortal.Resources.Apps_SingleForm.SELL_PRODUCT_LOCATION_FOOD_AND_DRINK :</label>
            </div>
        </div>
        {{#each data}}

        <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
            <div class="col-md-3">
                <p class="bold form-control-static">{{this.TYPE_OF_PRODUCT}}</p>
            </div>
            <div class="col-md-3">
                <p class="bold form-control-static">{{this.MANUFACTURING_PER_YEAR}} {{this.MANUFACTURING_PER_YEAR_UNIT}}</p>
            </div>
            <div class="col-md-2">
                <p class="bold form-control-static">{{this.SELL_PRODUCT_LOCATION_FOOD_AND_DRINK}}</p>
            </div>
            <div class="col-md-2 pr5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#MODAL_{{../section}}" onclick="singleForm.functions.editDataArrayObj(singleForm.variables.arrObj{{../section}}, {{ARR_IDX}})">แก้ไขข้อมูล</button>
            </div>
            <div class="col-md-2 pl5">
                <button type="button" class="btn btn-danger" onclick="singleForm.functions.removeArrayObj(singleForm.variables.arrObj{{../section}}, {{ARR_IDX}})">ลบรายการ</button>
            </div>
        </div>

        {{/each}}
        {{else}}
        <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
            <div class="col-md-12 text-center">
                @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, "Apps_SingleForm_Template", Model.EmptyDataMessage))
            </div>
        </div>
        {{/xif}}

    </script>
