/*https://www.flag-sprites.com/*/
.flag {
	width: 32px;
	height: 32px;
	background:url(flags.png) no-repeat;
        margin-left:10px;
}

.flag.flag-th {background-position: -32px 0}
.flag.flag-en {background-position: 0 -32px}