@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="center" style="font-weight:800; text-decoration: underline;">หน้าที่และความรับผิดชอบผู้ดำเนินการสถานพยาบาลสัตว์</span>
    </div>
    <div class="col-md-12">
        <span class="Left" style="font-weight:800; ">มีดังต่อไปนี้</span>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-12">
        1. ห้ามมิให้โฆษณาหรือประกาศ หรือยอมให้ผู้อื่นโฆษณาหรือประกาศด้วยประการใดๆ ซึ่งชื่อที่ตั้ง หรือกิจการของสถานพยาบาลสัตว์ คุณวุฒิหรือความสามารถของผู้ประกอบวิชาชีพการสัตวแพทย์ เพื่อชักชวนให้นำสัตว์ป่วยมารับการรักษาพยาบาลในสถานพยาบาลสัตว์ของตน โดยใช้ข้อความเกินจริงหรือน่าจะก่อให้เกิดความเข้าใจผิดในสาระสำคัญเกี่ยวกับการรักษาพยาบาล1. ห้ามมิให้โฆษณาหรือประกาศ หรือยอมให้ผู้อื่นโฆษณาหรือประกาศด้วยประการใดๆ ซึ่งชื่อที่ตั้ง หรือกิจการของสถานพยาบาลสัตว์ คุณวุฒิหรือความสามารถของผู้ประกอบวิชาชีพการสัตวแพทย์ เพื่อชักชวนให้นำสัตว์ป่วยมารับการรักษาพยาบาลในสถานพยาบาลสัตว์ของตน โดยใช้ข้อความเกินจริงหรือน่าจะก่อให้เกิดความเข้าใจผิดในสาระสำคัญเกี่ยวกับการรักษาพยาบาล </span>
    </div>
    <br />
    <div class="col-md-12">
        2. ต้องดูแลมิให้บุคคลซึ่งมิใช่เป็นผู้ประกอบวิชาชีพการสัตวแพทย์ประกอบวิชาชีพการสัตวแพทย์ในสถานพยาบาลสัตว์ซึ่งตนเป็นผู้ดำเนินการ และมิให้มีการประกอบวิชาชีพการสัตวแพทย์ผิดสาขาหรือชั้นตามที่กำหนดในใบอนุญาตให้ตั้งสถานพยาบาลสัตว์
    </div>
    <br />
    <div class="col-md-12">
        3. ต้องดูแลมิให้มีการรับสัตว์ป่วยไว้ค้างคืนเกินจำนวนที่พักสัตว์ป่วยตามที่กำหนดในใบอนุญาตให้ตั้งสถานพยาบาลสัตว์ (กรณีสถานพยาบาลสัตว์ประเภทที่มีที่พักสัตว์ป่วยไว้ค้างคืน) เว้นแต่ในกรณีฉุกเฉินซึ่งหากไม่รับไว้อาจเกิดอันตรายแก่สัตว์ป่วย
    </div>
    <br />
    <div class="col-md-12">
        4. ต้องดูแลสถานพยาบาลสัตว์ให้สะอาด เรียบร้อย ปลอดภัย และมีลักษณะอันเหมาะสมแก่การใช้เป็นสถานพยาบาลสัตว์
    </div>
    <br />
    <div class="col-md-12">
        5. ต้องจัดให้มีผู้ประกอบการวิชาชีพการสัตวแพทย์ตามสาขา ชั้น และจำนวนตามที่กฎหมายกำหนด อยู่ประจำสถานพยาบาลสัตว์ตลอดเวลาทำการ
    </div>
    <br />
    <div class="col-md-12">
        6. ต้องจัดให้มีเครื่องมือ เครื่องใช้ ยา และเวชภัณฑ์ที่จำเป็นสำหรับสถานพยาบาลสัตว์ให้เพียงพออยู่เสมอ
    </div>
    <br />
    <div class="col-md-12">
        7. ต้องจัดให้มีหลักฐานเกี่ยวกับผู้ประกอบวิชาชีพการสัตวแพทย์ และสัตว์ป่วย กับเอกสารที่เกี่ยวกับการรักษาพยาบาลสัตว์ตามที่อธิบดีกำหนด และต้องเก็บรักษาไว้ให้อยู่ในสภาพที่ตรวจสอบได้ไม่น้อยกว่า 2 ปี นับแต่วันจัดทำ
    </div>
    <br />
    <div class="col-md-12">
        8. ต้องจัดทำสถิติสัตว์ป่วยจากหลักฐานการประกอบวิชาชีพการสัตวแพทย์ยื่นต่อพนักงานเจ้าหน้าที่ตามแบบและระยะเวลาที่อธิบดีกำหนด
    </div>
    <br />
    <div class="col-md-12">
        9. ในกรณีที่มีการเปลี่ยนแปลงเกี่ยวกับผู้ประกอบวิชาชีพการสัตวแพทย์ในสถานพยาบาลสัตว์ต้องแจ้งเป็นหนังสือให้อธิบดีหรือผู้ซึ่งอธิบดีมอบหมายทราบ ภายใน 15 วันนับแต่วันที่มีการเปลี่ยนแปลงนั้นในกรณีที่ผู้ดำเนินการฯพ้นจากหน้าที่หรือไม่สามารถปฏิบัติหน้าที่ได้เกิน 7วัน ต้องมอบหมายให้ผู้ประกอบวิชาชีพการสัตวแพทย์ที่มีคุณสมบัติตามกฎหมาย ดำเนินการแทน และให้ผู้ดำเนินการแทน แจ้งเป็นหนังสือให้อธิบดีหรือผู้ซึ่งอธิบดีมอบหมายทราบภายใน 15 วันนับแต่วันที่ให้ดำเนินการแทน
    </div>

