@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="center" style="font-weight:800; text-decoration: underline;">หมายเหตุของเจ้าหน้าที่</span>
        <div>
            <span class="col-md-2"></span>จะต้องแจ้งให้ผู้ขออนุญาตทราบว่า จะอนุญาตหรือไม่อนุญาตหรือขยายเวลาภายใน
        </div>
        <div>
            วันที่ .................. เดือน ............................................ พ.ศ. ........................
        </div>
        <div>
            <span class="col-md-2"></span>ผู้ขออนุญาตได้ชำระค่าธรรมเนียมใบอนุญาต ......................................................... เป็นเงิน ........................... บาท และค่าธรรมเนียมการตรวจแบบแปลน ............................................. เป็นเงิน ............... บาท .................... สตางค์ ตามใบเสร็จรับเงินเล่มที่ ........................ เลขที่ ..................... ลงวันที่ .................. เดือน .................... พ.ศ. ...........
        </div>
        <div>
            <span class="col-md-1"></span>ออกใบอนุญาตแล้ว เล่มที่ ............................. ฉบับ ........................... ลงวันที่ ............... เดือน ........................ พ.ศ. ...............
        </div>
        <span class="pull-right">(ลงมือชื่อ) ........................................ </span>
        <span class="pull-right">ตำแหน่ง ....................................  </span>
    </div>
</div>