@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">
            (ลงมือชื่อ) ........................................<br />
            (.........................................................)<br />
            ผู้ขอต่ออายุใบอนุญาต
        </span>
    </div>
</div>