@using Resources = BizPortal.Resources

@{
    ViewBag.Title = "แจ้งข้อมูลเพื่อยืนยันการยินยอมให้มีการเก็บ ใช้ และ/หรือ เผยแพร่";
    Layout = "~/Areas/Apps/Views/Shared/_AppsLayoutV2.cshtml";
}

<div class="text-center">
    <h4 class="single-form-app-section-group">
        แจ้งข้อมูลเพื่อยืนยันการยินยอมให้มีการเก็บ ใช้ และ/หรือ เผยแพร่
    </h4>
</div>

@using (Html.BeginForm("SubmitConsent", "SingleForm", FormMethod.Post, new { id = "frmConsent", @class = "frm-permit-summary" }))
{
    <input type="hidden" name="TransID" value="@ViewBag.TransID" />
    <div class="single-form">
        <div class="row">
            <div class="col-md-12">
                <div class="row mt20">
                    <section class="col-md-12">

                        @* Body *@
                        <h5 style="line-height: 40px;">วัตถุประสงค์ในการเก็บ ใช้ และ/หรือ เผยแพร่ข้อมูลส่วนบุคคล</h5>
                        <hr />

                        <span>1. เพื่อเก็บรวบรวมข้อมูลการยื่นคำร้องของผู้ใช้งานที่ยื่นคำร้องผ่านระบบ Biz Portal</span>
                        <br />
                        <span>2. เพื่อให้เจ้าหน้าที่ผู้พิจารณาคำร้องสามารถเห็นข้อมูลที่จำเป็นสำหรับการพิจารณาอนุมัติคำร้อง</span>
                        <br />
                        <span>3. เพื่อให้สำนักงานพัฒนารัฐบาลดิจิทัล (องค์การมหาชน) ซึ่งหน่วยงานผู้ควบคุมข้อมูลสามารถนำข้อมูลคำร้องไปวิเคราะห์และประมวลทางสถิติ สำหรับใช้ประกอบการตัดสินใจทางนโยบายของภาครัฐ</span>

                        <h5 style="line-height: 40px;margin-top:2%;">เหตุผลและความจำเป็นในการเก็บ ใช้ และ/หรือ เผยแพร่ข้อมูลส่วนบุคคล</h5>
                        <hr />

                        <span>ในการยื่นคำร้องของผู้ประกอบการจะประกอบไปด้วยข้อมูลและเอกสารต่าง ๆ ซึ่งข้อมูลส่วนใหญ่เป็นข้อมูลส่วนบุคคลของผู้ยื่นคำร้อง ดังนั้นในการยื่นคำร้องตามงานบริการต่าง ๆ ของภาครัฐ จึงหลีกเลี่ยงไม่ได้ที่จะไม่มีการเปิดเผยข้อมูล การเก็บข้อมูลของภาครัฐ การเผยแพร่ข้อมูลให้แก่เจ้าหน้าที่ผู้บริหารคำร้อง รวมถึงการวิเคราะห์และประมวลผลของฐานข้อมูลขนาดใหญ่ของภาครัฐ ซึ่งหากผู้ยื่นคำร้องไม่ยินยอมให้มีการดำเนินการต่าง ๆ ดังกล่าว จักส่งผลให้ไม่สามารถดำเนินการยื่นคำร้องผ่านระบบ Biz Portal ได้</span>
                        <br />

                        <h5 style="line-height: 40px;margin-top:2%;">
                            รายการข้อมูลส่วนบุคคลที่จะต้องมีการเก็บ ใช้ และ/หรือ เผยแพร่
                        </h5>
                        <hr />

                        <span>ประเภทของข้อมูลส่วนบุคคลที่จะต้องมีการเก็บ ใช้ และ/หรือ เผยแพร่ จะมีขอบเขตที่แตกต่างกันไปขึ้นอยู่กับงานบริการ และ/หรือ ใบอนุญาตที่ท่านยื่นคำร้อง โดยข้อมูลส่วนบุคคลจะรวมถึงแต่ไม่จำกัดเฉพาะข้อมูลดังต่อไปนี้</span>
                        <br />

                        <span>1. ข้อมูลรายละเอียดส่วนบุคคล เช่น ชื่อ นามสกุล เพศ อายุ สัญชาติ การศึกษา เป็นต้น</span>
                        <br />

                        <span>2. ข้อมูลการติดต่อ เช่น ที่อยู่ติดต่อทางไปรษณีย์ หมายเลขโทรศัพท์ หมายเลขโทรสาร อีเมล เป็นต้น</span>
                        <br />

                        <span>3. ข้อมูลที่ใช้ในการระบุและการยืนยันตัวตน เช่น ภาพถ่ายบัตรประชาชน เลขประจำตัวประชาชน ข้อมูลหนังสือเดินทาง ใบอนุญาตขับขี่ ลายมือชื่อ เป็นต้น</span>
                        <br />

                        <span>4. ข้อมูลการทำงาน เช่น อาชีพปัจจุบัน ใบอนุญาตประกอบวิชาชีพ เป็นต้น</span>
                        <br />

                        <span>
                            5. ข้อมูลที่ปรากฎในรายการเอกสารสำหรับประกอบการยื่นคำร้อง เช่น โฉนดที่ดิน ใบรับรองแพทย์ เอกสารสิทธิ์ต่าง ๆ เป็นต้น
                            ระยะเวลาที่จัดเก็บของรายการข้อมูลเป็นไปตามกฎหมายของหน่วยงานกำหนด
                        </span>
                        <br />

                        <h5 style="line-height: 40px;margin-top:2%;">
                            ประเภทของหน่วยงานที่เป็นผู้ควบคุมข้อมูล
                        </h5>
                        <hr />

                        <span>
                            ผู้ควบคุมข้อมูล : สำนักงานพัฒนารัฐบาลดิจิทัล (องค์การมหาชน)
                        </span>
                        <br />

                        <span>
                            ผู้ให้บริการระบบ Biz Portal : สำนักงานคณะกรรมการพัฒนาระบบราชการ
                        </span>
                        <br />

                        <h5 style="line-height: 40px;margin-top:2%;">
                            สถานที่ติดต่อของผู้ควบคุมข้อมูล
                        </h5>
                        <hr />

                        <span>
                            ผู้ควบคุมข้อมูล :
                        </span>
                        <br />

                        <span>
                            สำนักงานพัฒนารัฐบาลดิจิทัล (องค์การมหาชน)
                        </span>
                        <br />

                        <span>
                            ที่อยู่ : ชั้น 17 อาคารบางกอกไทยทาวเวอร์ 108 ถนนรางน้ำ แขวงถนนพญาไท เขตราชเทวี กรุงเทพฯ 10400
                        </span>
                        <br />

                        <span>
                            โทรศัพท์ : (+66) 0 2612 6000
                        </span>
                        <br />

                        <span>
                            โทรสาร : (+66) 0 2612 6011 , (+66) 0 2612 6012
                        </span>
                        <br />

                        <span>
                            Contact Center : (+66) 0 2612 6060
                        </span>
                        <br />

                        <span>
                            อีเมล : contact@dga.or.th
                        </span>
                        <br />

                        <span>
                            เวลาทำการ : 8.30 - 17.30น.
                        </span>
                        <br />
                        <br />

                        <span>
                            ผู้ให้บริการระบบ :
                        </span>
                        <br />

                        <span>
                            สำนักงานคณะกรรมการพัฒนาระบบราชการ
                        </span>
                        <br />

                        <span>
                            ที่อยู่ : 59/1 ถนนพิษณุโลก แขวงดุสิต เขตดุสิต กรุงเทพฯ 10300
                        </span>
                        <br />

                        <span>
                            โทรศัพท์ : (+66) 0 2356 9999
                        </span>
                        <br />

                        <span>
                            โทรสาร : (+66) 0 2281 7882
                        </span>
                        <br />

                        <span>
                            อีเมล : administrator@opdc.go.th
                        </span>
                        <br />

                        <h5 style="line-height: 40px;margin-top:2%;">
                            สถานที่ติดต่อของผู้ควบคุมข้อมูล
                        </h5>
                        <hr />

                        <span>
                            1. เจ้าของข้อมูลส่วนบุคคลจะถอนความยิยอมเสียเมื่อใดก็ได้ เว้นแต่มีข้อจำกัดสิทธิในการถอนความยินยอมโดยกฎหมายหรือสัญญาที่ให้ประโยชน์แก่เจ้าของข้อมูลส่วนบุคคล
                        </span>
                        <br />

                        <span>
                            2. เจ้าของข้อมูลส่วนบุคคลมีสิทธิขอเข้าถึงและขอรับสำเนาข้อมูลส่วนบุคคลที่เกี่ยวข้องกับตน
                        </span>
                        <br />

                        <span>
                            3. เจ้าของข้อมูลส่วนบุคคลมีสิทธิขอรับข้อมูลส่วนบุคคลที่เกี่ยวกับตนจากผู้ควบคุมข้อมูลส่วนบุคคล ในกรณีมีการปรับข้อมูลให้อยู่ในรูปแบบอื่นด้วยเครื่องมือหรืออุปกรณ์อัตโนมัติ รวมถึงขอให้ส่งข้อมูลตามรูปแบบดังกล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลอื่นเมื่อสามารถทำได้ด้วยวิธีอัตโนมัติ
                        </span>
                        <br />

                        <span>
                            4. เจ้าของข้อมูลส่วนบุคคลมีสิทธิคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลเมื่อใดก็ได้ เว้นแต่ผู้ควบคุมข้อมูลส่วนบุคคลพิสูจน์ได้ว่าเป็นเหตุอันชอบด้วยกฎหมาย
                        </span>
                        <br />

                        <span>
                            5. เจ้าของข้อมูลส่วนบุคคลมีสิทธิขอให้ผู้ควบคุมข้อมูลส่วนบุคคลดำเนินการลบหรือทำลาย หรือทำให้ข้อมูลส่วนบุคคลไม่สามารถระบุบุคคลที่เป็นเจ้าของข้อมูลได้ในกรณีต่อไปนี้
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) เมื่อข้อมูลหมดความจำเป็นในการเก็บรักษาตามวัตถุประสงค์ในการเก็บรวบรวม ใช้ หรือเปิดเผย
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) เมื่อเจ้าของข้อมูลถอนความยินยอมในการเก็บรวบรวม ใช้ หรือเปิดเผย และผู้ควบคุมข้อมูลไม่มีอำนาจตามกฎหมายที่จะเก็บรวบรวม
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) เมื่อเจ้าของข้อมูลคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล และผู้ควบคุมข้อมูลส่วนบุคคลไม่สามารถอ้างเหตุอันชอบด้วยกฎหมายได้
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) เมื่อข้อมูลส่วนบุคคลได้ถูกเก็บรวบรวม ใช้ หรือเปิดเผยโดยไม่ชอบด้วยกฎหมาย
                        </span>
                        <br />

                        <span>
                            6. เจ้าของข้อมูลมีสิทธิขอให้ผู้ควบคุมข้อมูลระงับการใช้ข้อมูลส่วนบุคคล ในกรณีดังต่อไปนี้
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) เมื่อผู้ควบคุมข้อมูลอยู่ระหว่างการตรวจสอบ การแสดงข้อมูลส่วนบุคคลที่ถูกต้อง เป็นปัจจุบัน สมบรูณ์ และไม่ก่อให้เกิดความเข้าใจผิด
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) เมื่อเป็นข้อมูลที่ต้องลบหรือทำลาย แต่เจ้าของข้อมูลขอให้ระงับแทน
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) เมื่อข้อมูลส่วนบุคคลหมดความจำเป็นในการเก็บรักษาไว้ตามวัตถุประสงค์ในการเก็บรวบรวม แต่เจ้าของข้อมูลขอให้เก็บรักษาไว้เพื่อการใช้สิทธิเรียกร้องตามกฎหมาย
                        </span>
                        <br />

                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) เมื่อผู้ควบคุมข้อมูลส่วนบุคคลอยู่ระหว่างการพิสูจน์เหตุอันชอบด้วยกฎหมายในการเก็บรวบรวม ใช้ หรือเปิดเผย
                        </span>
                        <br />

                        <span>
                            7. กรณีที่เจ้าของข้อมูลร้องขอให้ผู้ควบคุมข้อมูลแสดงข้อมูลส่วนบุคคลที่ถูกต้อง เป็นปัจจุบัน สมบรูณ์ และไม่ก่อให้เกิดความเข้าใจผิด หากผู้ควบคุมข้อมูลไม่ดำเนินการตามคำร้องขอ ผู้ควบคุมต้องบันทึกคำร้องขอของเจ้าของข้อมูลพร้อมด้วยเหตุผล
                        </span>
                        <br />

                        <span>
                            8. เจ้าของข้อมูลมีสิทธิ์ร้องเรียนในกรณีที่ผู้รวบรวมข้อมูลหรือผู้ประมวลผลข้อมูล รวมทั้งลูกจ้างหรือผู้รับจ้างของผู้รวบรวมข้อมูลหรือผู้ประมวลผลข้อมูล ฝ่าฝืนหรือไม่ปฏิบัติตามพระราชบัญญัติการคุ้มครองข้อมูลส่วนบุคคลหรือประกาศที่ออกตามพระราชบัญญัตินี้
                        </span>
                        <br />

                        @* Radio Footer *@
                        <div class="row">
                            <div class="col-md-12 form-group" style="margin-top:2%;">
                                <div class="row" style="text-align:center;">
                                    <span style="font-size:larger;font-weight:bold;">
                                        ท่านยินยอมให้มีการเก็บ ใช้ หรือเผยแพร่ข้อมูลส่วนบุคคลสำหรับการยื่นคำร้องนี้หรือไม่
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-2">
                                        <div class="radio">
                                            <label for="ctrlConsentResult1">
                                                <input type="radio" name="ConsentResult" id="ctrlConsentResult1" value="1" />
                                                ยินยอม
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="radio">
                                            <label for="ctrlConsentResult2">
                                                <input type="radio" name="ConsentResult" id="ctrlConsentResult2" value="0" />
                                                ไม่ยินยอม
                                            </label>
                                        </div>
                                        @*<span style="color:red;font-size:smaller;font-weight:bold" id="msgAtOrg">กรุณายื่นคำร้องที่ หน่วยงาน</span>*@
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>

                            </div>
                        </div>

                    </section>
                </div>

            </div>

        </div>

        <div class="row mt10 mb20">
            <div class="col-md-12 text-center single-form-footer-btn">

                <a href="@Url.BizAction("PermitList", "Business", new { area = "" })" class="btn btn-default">@Html.Raw(Resources.Apps_SingleForm.BTN_BACK)</a>

                <button type="submit" id="btnNextAppSingleForm" class="btn btn-success" disabled>
                    @Html.Raw(Resources.Global.BTN_NEXT)
                </button>

            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var strConsent;

    $(document).ready(function () {
        //$('#msgAtOrg').hide();
        $('.app-header').hide();
        $('#frmConsent #btnNextAppSingleForm').ladda('bind');
        strConsent = "ท่านสามารถใช้ช่องทางอื่นในการยื่นคำขอรับบริการจากหน่วยงาน โดยศึกษาข้อมูลได้จากคู่มือสำหรับบริการประชาชนที่เมนู \"รายละเอียด\" ในหน้าสรุปใบอนุญาต หรือ กลับเข้าสู่หน้าแจ้งข้อมูลเพื่อพิจารณาการยินยอมให้มีการเก็บใช้";

    });

    $('input[type=radio][name=ConsentResult]').change(function () {
        if ($(this).prop("checked", true))
        {
            $('#btnNextAppSingleForm').removeAttr("disabled");           
        }
    });

    $("#frmConsent").submit(function (event) {
        let form = this;
        if ($('input[type=radio][name=ConsentResult]:checked').val() == 1) {
            showAlertGoingNextPage();
        }
        else {
            event.preventDefault();
            swal({
                title: strConsent,
                showConfirmButton: true,
                confirmButtonText: "กลับสู่หน้าสรุปใบอนุญาต",
                confirmButtonColor: "primary",

                showCancelButton: true,
                cancelButtonText: "ยกเลิก",
                cancelButtonColor: "light"
            },
            function (isConfirm) {
                if (isConfirm) {
                    waitAlert();
                    form.submit();
                }
                else {
                    $.ladda('stopAll');
                }
            });            
        }

    });

    function showAlertGoingNextPage() {
        swal({
            title: "กำลังไปยังหน้าถัดไป",
            type: "success",
            showConfirmButton: false
        });
    }

    function waitAlert() {
        swal({
            title: "กำลังดำนเนิการ...",
            text: "กรุณารอสักครู่",
            showConfirmButton: false
        });
    }

</script>
