

div.form-control-info {
    position: relative;
    text-align: left;
    padding: 30px;
    border: 1px solid #DEDEDE;
    margin-bottom: 20px;
    background: #FFFFFF;
}

a.form-control-info-close {
    color: #A0A0A0;
    position: absolute;
    top: 10px;
    right: 10px;
}

.disabled-select {
    background-color: #d5d5d5;
    opacity: 0.5;
    border-radius: 3px;
    cursor: not-allowed;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
