
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Banner</title>
</head>
<body>
    <embed src="https://biz.govchannel.go.th/th/banner" width="486" height="150">   
    <img src="https://biz.govchannel.go.th/Content/images/banner/BizBanner1-01.png" width="486"  onclick="javascript: window.location = 'https://biz.govchannel.go.th/'" />
</body>
</html>
