@using BizPortal.Utils.Helpers

<script id="APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDERTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12">
            <label>ประเภทผู้ถือหุ้น :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_TYPE_TEXT}}
        </div>
        <div class="col-md-6">
            <label>ชื่อนิติบุคคล ภาษาไทย :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_NAME_TH}}
        </div>
        <div class="col-md-6">
            <label>ชื่อนิติบุคคล ภาษาอังกฤษ :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_NAME_EN}}
        </div>
        <div class="col-md-6">
            <label>สัญชาติ :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_NATIONALITY_TEXT}}
        </div>
        <div class="col-md-6">
            <label>เลขทะเบียนบริษัท :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMPANY_NUMBER}}
        </div>
        <div class="col-md-6">
            <label>จำนวนหุ้นที่ถือ :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_SHARE_TOTAL}}
        </div>
        <div class="col-md-6">
            <label>ร้อยละของสิทธิออกเสียงทั้งหมด (%) :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_AUTHORITY_VOTE_PERCENTAGE}}
        </div>

        <div class="col-md-12">
            <label>ชื่อกรรมการ ผู้จัดการ หรือหุ้นส่วนของนิติบุคคลซึ่งเป็นผู้ถือหุ้นรายใหญ่</label>
        </div>
        <div class="col-md-4">
            <label>คำนำหน้าชื่อ ภาษาไทย :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_TITLE_TH_TEXT}}
        </div>
        <div class="col-md-4">
            <label>ชื่อ ภาษาไทย :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_FIRSTNAME_TH}}
        </div>
        <div class="col-md-4">
            <label>นามสกุล ภาษาไทย :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_LASTNAME_TH}}
        </div>
        <div class="col-md-4">
            <label>คำนำหน้าชื่อ ภาษาอังกฤษ :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_TITLE_EN_TEXT}}
        </div>
        <div class="col-md-4">
            <label>ชื่อ ภาษาอังกฤษ :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_FIRSTNAME_EN}}
        </div>
        <div class="col-md-4">
            <label>นามสกุล ภาษาอังกฤษ :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_LASTNAME_EN}}
        </div>
        <div class="col-md-12">
            <label>สัญชาติ :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_NATIONALITY_TEXT}}
        </div>
        <div class="col-md-12">
            {{#xif " fieldExist(this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_IDENTITY_ID) " }}
            <label>เลขบัตรประจำตัวประชาชน 13 หลัก :</label> {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_IDENTITY_ID}}
            {{/xif}}
        </div>
        <div class="col-md-12">
            {{#xif " fieldExist(this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_IDENTITY_PASSPORT) " }}
            <label>เลขที่หนังสือเดินทาง :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_IDENTITY_PASSPORT}}
            {{/xif}}
        </div>
        <div class="col-md-6">
            <label>ตำแหน่ง :</label>
            {{this.APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_POSITION}}
        </div>
        <div class="col-md-6">
            <label>อำนาจกระทำแทนบริษัท :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_JURISTIC_MAJOR_SHAREHOLDER_COMMITTEE_AUTHORIZEE_TEXT}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, StringHelper.DefaultIfEmpty(Model.ResourceName, "Apps_SingleForm_Template"), Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}
</script>