@using BizPortal.Utils.Helpers
<script id="APP_BUILDING_BUILDING_SECTION_PARTTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12">
            <label>อาคารลำดับที่ {{this.ARR_IDX}}</label>
        </div>
        <div class="col-md-6">
            <label>@BizPortal.Resources.Apps_SingleForm.APP_BUILDING_BUILDING_SECTION_BUILDING_TYPE :</label>
            {{this.APP_BUILDING_BUILDING_SECTION_BUILDING_TYPE}}
        </div>
        <div class="col-md-6">
            <label>@BizPortal.Resources.Apps_SingleForm.APP_BUILDING_BUILDING_SECTION_BUILDING_FLOOR :</label>
            {{this.APP_BUILDING_BUILDING_SECTION_BUILDING_FLOOR}}
        </div>
        <div class="col-md-12">
            <label>@BizPortal.Resources.Apps_SingleForm.APP_BUILDING_BUILDING_SECTION_BUILDING_FOR :</label>
            {{this.APP_BUILDING_BUILDING_SECTION_BUILDING_FOR}}
        </div>
        <div class="col-md-12">
            <label>@BizPortal.Resources.Apps_SingleForm.APP_BUILDING_BUILDING_SECTION_PARKING :</label>
            {{this.APP_BUILDING_BUILDING_SECTION_PARKING}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            ไม่มีข้อมูลหุ้นส่วน
        </div>
    </div>
    {{/xif}}

</script>
