@using BizPortal.Utils.Helpers

<script id="APP_SECURITIES_BUSINESS_SHARE_HOLDER_1Template" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-8">
            <label>ประเภทผู้ถือหุ้น (ผู้ถือหุ้นทางตรง, ผู้ถือหุ้นทางอ้อม)  :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_TYPE_TEXT}}
        </div>
        <div class="col-md-8">
            <label>ชื่อ ภาษาไทย :</label>
            {{this.APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_NAME}}
        </div>
        <div class="col-md-8">
            <label>ชื่อ ภาษาอังกฤษ :</label>
            {{this.APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_NAME_EN}}
        </div>
        <div class="col-md-8">
            <label>สัญชาติ :</label>
            {{this.DROPDOWN_APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_NATIONALITY_TEXT}}
        </div>
        <div class="col-md-8">
            <label>เลขทะเบียนบริษัท/เลขบัตรประจำตัวประชาชน 13 หลัก/เลขที่หนังสือเดินทาง :</label>
            {{this.APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_ID}}
        </div>
        <div class="col-md-4">
            <label>จำนวนหุ้นที่ถือ :</label>
            {{this.APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_AMOUNT}}
        </div>
        <div class="col-md-8">
            <label>ร้อยละของสิทธิออกเสียงทั้งหมด (%) :</label>
            {{this.APP_SECURITIES_BUSINESS_SHARE_HOLDER_1_SHARE_CAPITAL_HOLDER_AMOUNT_PERCENT}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, StringHelper.DefaultIfEmpty(Model.ResourceName, "Apps_SingleForm_Template"), Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}
</script>