@using BizPortal.Utils.Helpers
<script id="APP_BUILDING_G1_DESIGN_ENGINEERTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12">
            <label>วิศวกรผู้ออกแบบและคำนวณลำดับที่ {{this.ARR_IDX}}</label>
        </div>
        <div class="col-md-12">
            <label>เลขบัตรประจำตัวประชาชน 13 หลัก :</label>
            {{this.APP_BUILDING_G1_DESIGN_ENGINEER_CITIZENID}}
        </div>
        <div class="col-md-12">
            <label>ชื่อ : </label>{{this.DROPDOWN_APP_BUILDING_G1_DESIGN_ENGINEER_TITLE_TEXT}} {{this.APP_BUILDING_G1_DESIGN_ENGINEER_FIRSTNAME}} {{this.APP_BUILDING_G1_DESIGN_ENGINEER_LASTNAME}}
        </div>
        <div class="col-md-12">
            <label>เลขที่สมาชิก : </label>{{this.APP_BUILDING_G1_DESIGN_ENGINEER_MEMBER_NO}}
        </div>
        <div class="col-md-12">
            <label>เลขที่ใบอนุญาต : </label>{{this.APP_BUILDING_G1_DESIGN_ENGINEER_LICENSE_ID}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, "Apps_SingleForm_Template", Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}

</script>
