@using BizPortal.Utils.Helpers
<script id="APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTIONTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-8">
            <label>@BizPortal.Resources.PermitResource.RESOURCE_APP_HOSPITAL_PLAN.APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION  :</label>
            {{#xif " this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE == 'APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_PERSONAL' " }}
            {{this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_TEXT}}
            {{else}}
            {{#xif " this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE == 'APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_SHARE' " }}
            {{this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_TEXT}}
            {{else}}
            {{#xif " this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE == 'APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_INSIDE' " }}
            {{this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_TEXT}}
            {{else}}
            {{#xif " this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE == 'APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_OUTSIDE' " }}
            {{this.DROPDOWN_APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_TYPE_TEXT}}
            {{else}}
            {{/xif}}
            {{/xif}}
            {{/xif}}
            {{/xif}}
            <br />
            <label>@BizPortal.Resources.PermitResource.RESOURCE_APP_HOSPITAL_PLAN.APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_PERCENT :</label>
            {{this.APP_HOSPITAL_PLAN_BUSSINESS_INVEST_SECTION_PERCENT}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            ไม่มีข้อมูลผู้ดำเนินการ
        </div>
    </div>
    {{/xif}}

</script>