@using BizPortal.Utils.Helpers
<script id="APP_BUILDING_OWNED_AREA_SECTIONTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12">
            <label>เจ้าของที่ดินลำดับที่ {{this.ARR_IDX}}</label>
        </div>
        <div class="col-md-6">
            <label>@BizPortal.Resources.Apps_SingleForm.APP_BUILDING_AREA_SECTION_TITLE :</label>
            {{this.APP_BUILDING_AREA_SECTION_TITLE}}
        </div>
        <div class="col-md-6">
            <label>@BizPortal.Resources.Apps_SingleForm.APP_BUILDING_AREA_LAND_NUMBER :</label>
            {{this.APP_BUILDING_AREA_LAND_NUMBER}}
        </div>
        <div class="col-md-12">
            <label>ชื่อ : {{this.DROPDOWN_APP_BUILDING_OWNED_AREA_SECTION_TITLE_TEXT}} {{this.APP_BUILDING_OWNED_AREA_SECTION_FIRTNAME}} {{this.APP_BUILDING_OWNED_AREA_SECTION_LASTNAME}}</label>
        </div>
        {{#if this.APP_BUILDING_OWNED_AREA_SECTION_COMPANYNAME}}
        <div class="col-md-12">
            <label>ชื่อบริษัท : {{this.APP_BUILDING_OWNED_AREA_SECTION_COMPANYNAME}}</label>
        </div>
        {{/if}}
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            ไม่มีข้อมูลหุ้นส่วน
        </div>
    </div>
    {{/xif}}

</script>
