@using BizPortal.Utils.Helpers
<script id="APP_BUILDING_R6_BUILDING_OWNERTemplate" type="text/x-handlebars-template">
    {{#xif " data.length > 0 " }}
    {{#each data}}

    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12">
            <label>เจ้าของอาคารลำดับที่ {{this.ARR_IDX}}</label>
        </div>
        {{#xif " this.APP_BUILDING_R6_BUILDING_OWNER_KIND_OF_PERSON_OPTION == '1' "}}
        <div class="col-md-12">
            <label>เลขบัตรประจำตัวประชาชน 13 หลัก :</label>
            {{this.APP_BUILDING_R6_BUILDING_OWNER_CITIZENID}}
        </div>
        <div class="col-md-12">
            <label>ชื่อ : </label>{{this.DROPDOWN_APP_BUILDING_R6_BUILDING_OWNER_TITLE_TEXT}}{{this.APP_BUILDING_R6_BUILDING_OWNER_FIRSTNAME}} {{this.APP_BUILDING_R6_BUILDING_OWNER_LASTNAME}}
        </div>
        {{else }}
        <div class="col-md-12">
            <label>เลขทะเบียนนิติบุคคล 13 หลัก :</label>
            {{this.APP_BUILDING_R6_BUILDING_OWNER_JURISTICID}}
        </div>
        <div class="col-md-12">
            <label>ชื่อนิติบุคคล : </label>{{this.APP_BUILDING_R6_BUILDING_OWNER_JURISTIC_NAME}}
        </div>
        {{/xif}}
    </div>

    {{/each}}
    {{else}}
    <div class="row form-group pt10 pb10" style="margin: 0 0 5px 0 !important; border:solid 1px #000000; border-radius: 4px;">
        <div class="col-md-12 text-center">
            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(Model.EmptyDataMessage, "Apps_SingleForm_Template", Model.EmptyDataMessage))
        </div>
    </div>
    {{/xif}}

</script>
