$biz-color: white;
$biz-body-color: #333;
$biz-place-color: #395563;
$biz-link-dark-color: #395563;
$bix-link-color: #0088cc;

$biz-backgroud: #395563;
$biz-backgroud-light: white;
$biz-border: #395563;

$biz-color-dark: white;
$biz-backgroud-dark: #395563;
$biz-border-dark: #395563;

// Spiner color and margin
$spin-margin: 0 auto;
$spin-color: $bix-link-color;

@import "spinners";

.header-margin {
    margin-top: 30px;
}

.header-body {
    padding-bottom: 0 !important;
}

.detail-header {
    color: $bix-link-color !important;
    margin-bottom: 5px !important;
}

.thumb {
    width: 80px;
}

.invisibility {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}


/* loader*/
.page-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999;
    filter: alpha(opacity=0);
    top: 0;
    left: 0;
    opacity: 0.5;
}

.page-loader {
    top: calc(50% - 40px);
}

.modal-open {
    padding-right: inherit !important;
    overflow: hidden;
}

/* breadcrumb */
$biz-breadcrumb-backgroud: #f5f5f5;

.breadcrumb-container {
    background-color: $biz-breadcrumb-backgroud;
    margin-top: 10px;
}

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
}

/* tag */
$tag-label-color: #eeeeee;
$tag-label-backgroud: #0088cc;
$tag-label-backgroud-hover: #0088cc;
$tag-label-fontsize: 12.5px;

.tag-labels {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tag-labels li {
    float: left;
    cursor: pointer;
}

.tag-label {
    font-size: $tag-label-fontsize;
    background: $tag-label-backgroud;
    border-radius: 3px 0 0 3px;
    color: #eeeeee;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 13px;
    position: relative;
    margin: 0 5px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag-label::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 5px;
    left: 5px;
    position: absolute;
    width: 5px;
    top: 7px;
}

.tag-label::after {
    background: #fff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $tag-label-backgroud;
    border-top: 10px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag-label:hover {
    background-color: $tag-label-backgroud-hover;
    color: $tag-label-color;
}

.tag-label:hover::after {
    border-left-color: $tag-label-backgroud-hover;
}

/* plupload */
.plupload_container {
    min-height: 180px;
}


.plupload_header {
    display: none;
}


.plupload_content {
    top: 30px;
    bottom: 44px;
}

.plupload_file_action {
    padding: 0;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0;
}


.plupload_file_name {
    width: 50% !important;
}

.plupload_file_status {
    width: 25% !important;
}

.plupload_file_size {
    width: 25% !important;
}

.plupload_view_list div.plupload_file_name {
    margin-right: 0;
    padding: 0 0 0 5px;
}

.plupload_view_list div.plupload_file_size {
    padding: 0;
}

.plupload_view_list div.plupload_file_action {
    padding-top: 4px;
    margin-right: 8px;
}

.plupload_total_file_size {
    padding-right: 5px;
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.ui-widget-content {
    border: 2px solid #ddd;
    background: #FFF;
    color: #333;
    border-radius: 4px;
}

.ui-button-text {
    color: #333;
}

/* divider */
.group-container .body hr {
    margin-top: 0;
}

/* link */
a {
    color: $bix-link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.biz {
    color: $biz-link-dark-color;
}

/* form */
.form-control.biz {
    border: 1px solid $biz-border;
}

input.biz::-webkit-input-placeholder {
    color: $biz-place-color !important;
}

input.biz:-moz-placeholder { /* Firefox 18- */
    color: $biz-place-color !important;
}

input.biz::-moz-placeholder { /* Firefox 19+ */
    color: $biz-place-color !important;
}

input.biz:-ms-input-placeholder {
    color: $biz-place-color !important;
}

/* icon */
.featured-boxes-style-5 .featured-box .icon-featured.biz {
    border: 1px solid $biz-border;
}

/* image */
.img-thumbnail.biz {
    max-width: 150px;
    border: solid 1px $biz-border;
}

.img-center {
    margin: 0 auto;
}

/* button */
.btn-biz, .btn-biz:hover, .btn-biz:active, .btn-biz:focus {
    color: $biz-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: $biz-backgroud;
    border-color: $biz-backgroud;
}

/* pagination */
.pagination > .active > a, body.dark .pagination > .active > a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: $biz-border $biz-border $biz-border;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $biz-backgroud !important;
}

/* category box */
$category-color: #777;
$category-purple: #9e71ab;
$category-yellow: #d5b34b;
$category-green: #769f70;
$category-blue: #309dbe;
$category-red: #df683a;

.categorybox a {
    color: $category-color;
    text-decoration: none;
}

.categorybox .header1 {
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
}

.categorybox .header2 {
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    padding: 0;
}

.categorybox img.grayscale {
    padding: 15% 15% 0 15%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
    transition: padding ease 0.3s;
    -webkit-transition: padding ease 0.3s;
    -moz-transition: padding ease 0.3s;
    -ms-transition: padding ease 0.3s;
    -o-transition: padding ease 0.3s;
}

.categorybox:hover img.grayscale {
    padding: 0;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: 0; /* IE 6-9 */
}

.categorybox.purple:hover .fontcolor {
    color: $category-purple !important;
}

.categorybox.yellow:hover .fontcolor {
    color: $category-yellow !important;
}

.categorybox.green:hover .fontcolor {
    color: $category-green !important;
}

.categorybox.blue:hover .fontcolor {
    color: $category-blue !important;
}

.categorybox.red:hover .fontcolor {
    color: $category-red !important;
}


/* group box */
$grouopbox-border-raduis: 4px;

$grouopbox-header-fontsize: 1.5em;
$grouopbox-footer-fontsize: 1.2em;

$grouopbox-default-color: #333;
$grouopbox-header-color: white;
$grouopbox-body-color: #333;
$grouopbox-footer-color: #333;

$grouopbox-header-red: #945c5a;
$grouopbox-header-green: #3f9b84;
$grouopbox-header-blue: $biz-backgroud;
$grouopbox-header-dark: #2E353E;

$grouopbox-body-red: #f2e6e6;
$grouopbox-body-green: #e8f2e7;
$grouopbox-body-blue: #e6f0f2;
$grouopbox-body-dark: white;

$grouopbox-footer-red: #f2e6e6;
$grouopbox-footer-green: #e8f2e7;
$grouopbox-footer-blue: #e6f0f2;
$grouopbox-footer-dark: white;

$grouopbox-border: #ddd;

.group-container {
    margin-bottom: 15px;
}

.group-container .header {
    color: $grouopbox-default-color;
    font-size: $grouopbox-header-fontsize;
    min-height: 50px;
    line-height: 50px;
    text-align: left;
    vertical-align: middle;
    padding-left: 15px;
    border-top-left-radius: $grouopbox-border-raduis;
    border-top-right-radius: $grouopbox-border-raduis;
}

.group-container .header.center {
    text-align: center;
}

.group-container.bordered .header {
    border: solid 1px $grouopbox-border;
}

.group-container.biz.bordered .header {
    border: solid 1px $biz-border;
}

.group-container.red .header {
    color: $grouopbox-header-color;
    background: $grouopbox-header-red;
}

.group-container.green .header {
    color: $grouopbox-header-color;
    background: $grouopbox-header-green;
}

.group-container.blue .header {
    color: $grouopbox-header-color;
    background: $grouopbox-header-blue;
}

.group-container.dark .header {
    color: $grouopbox-header-color;
    background: $grouopbox-header-dark;
}

.group-container.biz .header {
    color: $biz-color;
    background: $biz-backgroud;
}

.group-container .body {
    color: $grouopbox-default-color;
    padding: 10px;
    padding-left: 15px;
    min-height: 50px;
}

.group-container.bordered .body {
    border-left: solid 1px $grouopbox-border;
    border-right: solid 1px $grouopbox-border;
}

.group-container.biz.bordered .body {
    border-left: solid 1px $biz-border;
    border-right: solid 1px $biz-border;
}

.group-container.red .body {
    color: $grouopbox-body-color;
    background: $grouopbox-body-red;
}

.group-container.green .body {
    color: $grouopbox-body-color;
    background: $grouopbox-body-green;
}

.group-container.blue .body {
    color: $grouopbox-body-color;
    background: $grouopbox-body-blue;
}

.group-container.dark .body {
    color: $grouopbox-body-color;
    background: $grouopbox-body-dark;
}

.group-container.biz .body {
    color: $biz-body-color;
    background: $biz-backgroud-light;
}

.group-container .body p {
    color: $grouopbox-body-color;
}

.group-container .body .flexbox-container {
    padding-top: 10px;
}

.group-container .footer {
    color: $grouopbox-default-color;
    font-size: $grouopbox-footer-fontsize;
    line-height: $grouopbox-footer-fontsize;
    vertical-align: middle;
    text-align: right;
    border-bottom-left-radius: $grouopbox-border-raduis;
    border-bottom-right-radius: $grouopbox-border-raduis;
    padding: 10px;
}

.group-container.bordered .footer {
    border-left: solid 1px $grouopbox-border;
    border-right: solid 1px $grouopbox-border;
    border-bottom: solid 1px $grouopbox-border;
}

.group-container.biz.bordered .footer {
    border-left: solid 1px $biz-border;
    border-right: solid 1px $biz-border;
    border-bottom: solid 1px $biz-border;
}

.group-container.red .footer {
    color: $grouopbox-footer-color;
    background: $grouopbox-footer-red;
}

.group-container.green .footer {
    color: $grouopbox-footer-color;
    background: $grouopbox-footer-green;
}

.group-container.blue .footer {
    color: $grouopbox-footer-color;
    background: $grouopbox-footer-blue;
}

.group-container.dark .footer {
    color: $grouopbox-footer-color;
    background: $grouopbox-footer-dark;
}

.group-container.biz .footer {
    color: $biz-color;
    background: $biz-backgroud-light;
}

/* loader */
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/*<div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>*/


@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}


/*===============================================
  C. Text Helpers
================================================= */
.text-uppercase {
    text-transform: uppercase !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fs3 {
    font-size: 4px !important;
}

.fs4 {
    font-size: 4px !important;
}

.fs5 {
    font-size: 5px !important;
}

.fs6 {
    font-size: 6px !important;
}

.fs7 {
    font-size: 7px !important;
}

.fs8 {
    font-size: 8px !important;
}

.fs9 {
    font-size: 9px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs15 {
    font-size: 15px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs24 {
    font-size: 24px !important;
}

.fs26 {
    font-size: 26px !important;
}

.fs28 {
    font-size: 28px !important;
}

.fs30 {
    font-size: 30px !important;
}

.fs35 {
    font-size: 35px !important;
}

.fs40 {
    font-size: 40px !important;
}

.fs45 {
    font-size: 45px !important;
}

.fs50 {
    font-size: 50px !important;
}

.fs60 {
    font-size: 60px !important;
}

.fs70 {
    font-size: 70px !important;
}

.fs80 {
    font-size: 80px !important;
}

.fs90 {
    font-size: 90px !important;
}

.fs100 {
    font-size: 100px !important;
}
/*===============================================
  D. Padding Helpers
================================================= */
.pn {
    padding: 0 !important;
}

.p1 {
    padding: 1px !important;
}

.p2 {
    padding: 2px !important;
}

.p3 {
    padding: 3px !important;
}

.p4 {
    padding: 4px !important;
}

.p5 {
    padding: 5px !important;
}

.p6 {
    padding: 6px !important;
}

.p7 {
    padding: 7px !important;
}

.p8 {
    padding: 8px !important;
}

.p10 {
    padding: 10px !important;
}

.p12 {
    padding: 12px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p25 {
    padding: 25px !important;
}

.p30 {
    padding: 30px !important;
}

.p35 {
    padding: 35px !important;
}

.p40 {
    padding: 40px !important;
}

.p50 {
    padding: 50px !important;
}

.ptn {
    padding-top: 0 !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.prn {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pbn {
    padding-bottom: 0 !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pln {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl35 {
    padding-left: 35px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl50 {
    padding-left: 50px !important;
}
/* Axis Padding (both top/bottom or left/right) */
.pv5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pv8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pv10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pv15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pv20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pv25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.pv30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.pv40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.pv50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.ph5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.ph8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.ph10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ph15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.ph20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.ph25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.ph30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.ph40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.ph50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
/* responsive padding helpers */
@media (min-width: 1140px) {
    .ptn-lg {
        padding-top: 0 !important;
    }

    .prn-lg {
        padding-right: 0 !important;
    }

    .pbn-lg {
        padding-bottom: 0 !important;
    }

    .pln-lg {
        padding-left: 0 !important;
    }

    .pt5-lg {
        padding-top: 5px !important;
    }

    .pr5-lg {
        padding-right: 5px !important;
    }

    .pb5-lg {
        padding-bottom: 5px !important;
    }

    .pl5-lg {
        padding-left: 5px !important;
    }
}

@media (min-width: 992px) {
    .ptn-md {
        padding-top: 0 !important;
    }

    .prn-md {
        padding-right: 0 !important;
    }

    .pbn-md {
        padding-bottom: 0 !important;
    }

    .pln-md {
        padding-left: 0 !important;
    }

    .pt5-md {
        padding-top: 5px !important;
    }

    .pr5-md {
        padding-right: 5px !important;
    }

    .pb5-md {
        padding-bottom: 5px !important;
    }

    .pl5-md {
        padding-left: 5px !important;
    }
}
/*===============================================
  E. Margin Helpers
================================================= */
/* margin center helper */
.mauto {
    margin-left: auto;
    margin-right: auto;
}

.mn {
    margin: 0 !important;
}

.m1 {
    margin: 1px !important;
}

.m2 {
    margin: 2px !important;
}

.m3 {
    margin: 3px !important;
}

.m4 {
    margin: 4px !important;
}

.m5 {
    margin: 5px !important;
}

.m8 {
    margin: 8px !important;
}

.m10 {
    margin: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.m25 {
    margin: 25px !important;
}

.m30 {
    margin: 30px !important;
}

.m35 {
    margin: 35px !important;
}

.m40 {
    margin: 40px !important;
}

.m50 {
    margin: 50px !important;
}

.mtn {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mrn {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr35 {
    margin-right: 35px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mbn {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mln {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}
/* Axis Margins (both top/bottom or left/right) */
.mv5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mv10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mv15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mv20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mv25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.mv30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mv40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mv50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mv70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.mh5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mh10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mh15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mh20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mh25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.mh30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.mh40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mh50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mh70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}
/* Negative Margin Helpers */
.mtn5 {
    margin-top: -5px !important;
}

.mtn10 {
    margin-top: -10px !important;
}

.mtn15 {
    margin-top: -15px !important;
}

.mtn20 {
    margin-top: -20px !important;
}

.mtn30 {
    margin-top: -30px !important;
}

.mrn5 {
    margin-right: -5px !important;
}

.mrn10 {
    margin-right: -10px !important;
}

.mrn15 {
    margin-right: -15px !important;
}

.mrn20 {
    margin-right: -20px !important;
}

.mrn30 {
    margin-right: -30px !important;
}

.mbn5 {
    margin-bottom: -5px !important;
}

.mbn10 {
    margin-bottom: -10px !important;
}

.mbn15 {
    margin-bottom: -15px !important;
}

.mbn20 {
    margin-bottom: -20px !important;
}

.mbn30 {
    margin-bottom: -30px !important;
}

.mln5 {
    margin-left: -5px !important;
}

.mln10 {
    margin-left: -10px !important;
}

.mln15 {
    margin-left: -15px !important;
}

.mln20 {
    margin-left: -20px !important;
}

.mln30 {
    margin-left: -30px !important;
}
/* Vertical Negative Margin "mv" + "n" + "x" */
.mvn5 {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}

.mvn10 {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.mvn15 {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}

.mvn20 {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}

.mvn30 {
    margin-top: -30px !important;
    margin-bottom: -30px !important;
}
/* Horizontal Negative Margin "mh" + "n" + "x" */
.mhn5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.mhn10 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.mhn15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.mhn20 {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.mhn30 {
    margin-left: -30px !important;
    margin-right: -30px !important;
}
/*===============================================
  F. LineHeight Helpers
================================================= */
.lh0 {
    line-height: 0 !important;
}

.lh5 {
    line-height: 5px !important;
}

.lh10 {
    line-height: 10px !important;
}

.lh15 {
    line-height: 15px !important;
}

.lh20 {
    line-height: 20px !important;
}

.lh25 {
    line-height: 25px !important;
}

.lh30 {
    line-height: 30px !important;
}

.lh35 {
    line-height: 35px !important;
}

.lh40 {
    line-height: 40px !important;
}
/*===============================================
  G. Border Helpers
================================================= */
/* Border Disables */
.br-l-n {
    border-left: none !important;
}

.br-r-n {
    border-right: none !important;
}

.br-t-n {
    border-top: none !important;
}

.br-b-n {
    border-bottom: none !important;
}

.br-n {
    border: none !important;
}

.br-v-n {
    border-top: none !important;
    border-bottom: none !important;
}

.br-h-n {
    border-left: none !important;
    border-right: none !important;
}
/* Default Borders */
.br-a {
    border: 1px solid #eeeeee !important;
}

.br-l {
    border-left: 1px solid #eeeeee !important;
}

.br-r {
    border-right: 1px solid #eeeeee !important;
}

.br-t {
    border-top: 1px solid #eeeeee !important;
}

.br-b {
    border-bottom: 1px solid #eeeeee !important;
}
/* Border Style */
.br-dashed {
    border-style: dotted !important;
}
/* Border Radius */
.br0 {
    border-radius: 0 !important;
}

.br1 {
    border-radius: 1px !important;
}

.br2 {
    border-radius: 2px !important;
}

.br3 {
    border-radius: 3px !important;
}

.br4 {
    border-radius: 4px !important;
}

.br6 {
    border-radius: 6px !important;
}

.br8 {
    border-radius: 8px !important;
}

.br12 {
    border-radius: 12px !important;
}

.br24 {
    border-radius: 24px !important;
}

.br64 {
    border-radius: 64px !important;
}
/* Border Width */
.bw1 {
    border-width: 1px !important;
}

.bw2 {
    border-width: 2px !important;
}

.bw3 {
    border-width: 3px !important;
}

.bw4 {
    border-width: 4px !important;
}

.bw5 {
    border-width: 5px !important;
}

.bw8 {
    border-width: 8px !important;
}

.bw10 {
    border-width: 10px !important;
}

.bw15 {
    border-width: 15px !important;
}
/*Border Colors Generate contextual modifier classes for colorizing the alert.
*/
.br-white {
    border-color: #ffffff !important;
}

.br-lighter {
    border-color: #eeeeee !important;
}

.br-light {
    border-color: #e7e7e7 !important;
}

.br-grey {
    border-color: #d9d9d9 !important;
}

.br-greyer {
    border-color: #cccccc !important;
}

.br-dark {
    border-color: #3b3f4f !important;
}

.br-dark-light {
    border-color: #51566c !important;
}

.br-primary {
    border-color: #4a89dc !important;
}

.br-primary-light {
    border-color: #75a5e4 !important;
}

.br-info {
    border-color: #3bafda !important;
}

.br-info-light {
    border-color: #66c1e2 !important;
}

.br-success {
    border-color: #70ca63 !important;
}

.br-success-light {
    border-color: #93d789 !important;
}

.br-warning {
    border-color: #f6bb42 !important;
}

.br-warning-light {
    border-color: #f8cd73 !important;
}

.br-danger {
    border-color: #e9573f !important;
}

.br-danger-light {
    border-color: #ee7f6d !important;
}

.br-alert {
    border-color: #967adc !important;
}

.br-alert-light {
    border-color: #b6a2e7 !important;
}

.br-system {
    border-color: #37bc9b !important;
}

.br-system-light {
    border-color: #58ceb1 !important;
}

.br-tp-top {
    border-top-color: rgba(0, 0, 0, 0.1);
}

.br-tp-right {
    border-right-color: rgba(0, 0, 0, 0.1);
}

.br-tp-left {
    border-left-color: rgba(0, 0, 0, 0.1);
}
/*===============================================
  H. Max Width Helpers
================================================= */
.fluid-width {
    width: 100% !important;
}

.mw10 {
    max-width: 10px !important;
}

.mw20 {
    max-width: 20px !important;
}

.mw30 {
    max-width: 30px !important;
}

.mw35 {
    max-width: 35px !important;
}

.mw40 {
    max-width: 40px !important;
}

.mw45 {
    max-width: 45px !important;
}

.mw50 {
    max-width: 50px !important;
}

.mw60 {
    max-width: 60px !important;
}

.mw80 {
    max-width: 80px !important;
}

.mw100 {
    max-width: 100px !important;
}

.mw140 {
    max-width: 140px !important;
}

.mw160 {
    max-width: 160px !important;
}

.mw180 {
    max-width: 180px !important;
}

.mw200 {
    max-width: 200px !important;
}

.mw240 {
    max-width: 240px !important;
}

.mw280 {
    max-width: 280px !important;
}

.mw320 {
    max-width: 320px !important;
}

.mw400 {
    max-width: 400px !important;
}

.mw450 {
    max-width: 450px !important;
}

.mw500 {
    max-width: 500px !important;
}

.mw600 {
    max-width: 600px !important;
}

.mw700 {
    max-width: 700px !important;
}

.mw800 {
    max-width: 800px !important;
}

.mw900 {
    max-width: 900px !important;
}

.mw1000 {
    max-width: 1000px !important;
}

.mw1100 {
    max-width: 1100px !important;
}

.mw1200 {
    max-width: 1200px !important;
}
/*Regular Width Helpers. Primarily used
on tables, feel free to add more*/
.w20 {
    width: 20px !important;
}

.w30 {
    width: 30px !important;
}

.w40 {
    width: 40px !important;
}

.w50 {
    width: 50px !important;
}

.w75 {
    width: 75px !important;
}

.w100 {
    width: 100px !important;
}

.w125 {
    width: 125px !important;
}

.w150 {
    width: 150px !important;
}

.w175 {
    width: 175px !important;
}

.w200 {
    width: 200px !important;
}

.w225 {
    width: 225px !important;
}

.w250 {
    width: 250px !important;
}

.w300 {
    width: 300px !important;
}

.w320 {
    width: 320px !important;
}

.w350 {
    width: 350px !important;
}

.w400 {
    width: 400px !important;
}

.w450 {
    width: 450px !important;
}

.mnw20 {
    min-width: 20px !important;
}

.mnw30 {
    min-width: 30px !important;
}

.mnw40 {
    min-width: 40px !important;
}

.mnw50 {
    min-width: 50px !important;
}

.mnw75 {
    min-width: 75px !important;
}

.mnw100 {
    min-width: 100px !important;
}

.mnw125 {
    min-width: 125px !important;
}

.mnw150 {
    min-width: 150px !important;
}

.mnw175 {
    min-width: 175px !important;
}

.mnw200 {
    min-width: 200px !important;
}

.mnw250 {
    min-width: 250px !important;
}

.mnw300 {
    min-width: 300px !important;
}

.mnw500 {
    min-width: 500px !important;
}

.mnw700 {
    min-width: 700px !important;
}

.mnw1000 {
    min-width: 1000px !important;
}

.table th {
    text-align: center;
}

.pager div {
    margin-bottom: 10px;
}

.pager div > a:hover, .pager div > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.pager div > a, .pager div > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 100%;
}

/* alert msg */
.notify-close {
    position: relative;
    top: -2px;
    right: -21px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.notify-close:hover, .notify-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

button.notify-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.alert-success {
    color: #ffffff;
    background-color: #26C281;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #ffffff !important;
    background-color: #E26A6A;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #ffffff;
    background-color: #EB974E;
    border-color: #d6e9c6;
}

.alert-info {
    color: #ffffff;
    background-color: #5C97BF;
    border-color: #d6e9c6;
}

.alert-warning-light {
    color: #8A6D3B;
    background-color: #FFF2BE;
    border-color: #faebcc;
}

.alert-danger-light {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success-light {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info-light {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


.crop {
    width: 100%;
    max-height: 350px !important;
    overflow: hidden;
}

.crop img {
    width: 100% !important;
    margin: 0px 0 0 0;
}


/* footer section */
footer {
    color: $biz-color !important;
}

.middle-logo-frame {
    height: 60px; /* equals max image height */
    width: 60px;
    white-space: nowrap;
    text-align: center;
    margin: 0.5em 1em;
    display: inline-block;
}

.middle-logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.middle-logo-img {
    vertical-align: middle;
    max-height: 60px;
    max-width: 60px;
}

.select2-selection, .select2-selection > span {
    height: 34px !important;
    line-height: 34px !important;
}

.select2-container--default .select2-selection--single {
    border-color: #ccc !important;
    color: #555;
}

.select2-selection--single.error {
	border-color: #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-selection--single.error:focus {
	border-color: #843534 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

//toast
.toast {
    background-color: #32b5cb;
    opacity: 1 !important;
}

.toast-success {
    background-color: #1ab394;
}

.toast-error {
    background-color: #ed5565;
}

.toast-info {
    background-color: #23c6c8;
}

.toast-warning {
    background-color: #F8AC59;
}

.hide-input-allow-validate {
    display: block;
    width: 0px;
    height: 0px;
    border: none;
    padding: 0;
    margin: 0;
}