<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>

  <entityFramework>
    <contexts xdt:Transform="Insert">
      <context type="BizPortal.DAL.ApplicationDbContext, BizPortal.DAL">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[BizPortal.DAL.ApplicationDbContext, BizPortal.DAL], [BizPortal.DAL.Migrations.Configuration, BizPortal.DAL]], EntityFramework, PublicKeyToken=b77a5c561934e089">
          <parameters>
            <parameter value="DefaultConnection"/>
          </parameters>
        </databaseInitializer>
      </context>
    </contexts>
  </entityFramework>
</configuration>
