<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <!-- Announce610718 -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="IntroViewName" value="Announce610718" />

    <!-- Begin Domain Settings -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ApplyDomainRoute" value="true" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="CookieAuthDomain" value=".govchannel.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="CookieNameAuthDomain" value=".biziden.govchannel.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="BizDomain" value="https://biz.govchannel.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ServicesDomain" value="https://service.govchannel.go.th" />

    <!-- Maintenance Settings -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MaintenanceStartDate" value="2019-08-14 00:00" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MaintenanceEnDate" value="2019-08-19 08:00" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MaintenanceMessage" value="&lt;div class=&quot;sweet-body&quot;&gt;&lt;p style='margin:0 0 15px 0'&gt;เนื่องด้วยกระทรวงพาณิชย์จะทำการปิดระบบไฟฟ้าเพื่อตรวจสอบระบบไฟฟ้าประจำปีในวันศุกร์ ที่ 16 ส.ค.62 ตั้งแต่เวลา 18.00 น. ถึงวันจันทร์ที่ 19 ส.ค.62  เวลา 8:00 น. ส่งผลให้ไม่สามารถเรียกดูข้อมูลนิติบุคคลและใช้งานระบบ BizPortal ในช่วงเวลาดังกล่าว&lt;/p&gt;จึงเรียนมาเพื่อทราบและขออภัยในความไม่สะดวก&lt;br/&gt;(สอบถามข้อมูลเพิ่มเติมติดต่อ 026126060 หรือ contact@dga.or.th)&lt;/div&gt;" />

    <!--Domain Settings-->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="BizUrl" value="https://biz.govchannel.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ServiceUrl" value="https://service.govchannel.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="GovChannelUrl" value="https://www.govchannel.go.th/" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OpenIDUrl" value="https://bizid.egov.go.th/" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OAuthUrl" value="https://bizid.egov.go.th/{language}/oauthv1/oauth" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OAuthXmlUrl" value="https://bizid.egov.go.th/{language}/oauthv1/xmluserinfo" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="CitizenOpenIDUrl" value="https://accounts.egov.go.th/" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OpenIDProfileUrl" value="/dga/digitalid/v1/test/user" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="URLLogOutPath" value="https://bizid.egov.go.th/Account/LogOff?returnUrl=" />
    
    <!-- NDID -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDNodeId" value="dga_rp_1" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDUrl" value="https://13.76.46.70:8443" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDCallbackUrl" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDProvider" value="THAI ID" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDServiceID" value="001.basic_cust_info_001,001.contact_cust_info_001" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDMinIDP" value="1" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDMinAS" value="1" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDMinIAL" value="2.3" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDMinAAL" value="2.2" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDTimeout" value="3600" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDRequestMessage" value="คุณต้องการเข้าสู่ระบบศูนย์กลางบริการเพื่อภาคธุรกิจ(BizPortal) และยินยอมให้ระบบส่งข้อมูล เลขประจำตัวประชาชน ชื่อ นามสกุล วันเดือนปีเกิด เพศ ที่อยู่ เบอร์โทรศัพท์ เพื่อใช้ในการขอรับบริการจากระบบดังกล่าวหรือไม่ หากต้องการกรุณากด ยืนยันตัวตน หากไม่ต้องการกรุณากด ปฏิเสธ (เลขอ้างอิง: {0})" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDIsCleanRequestData" value="false" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDLogTransaction" value="true" />

    <!--CGD Payment-->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PMT1" value="/cgd/payment/bill/create" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PMT2" value="/cgd/payment/bill/check" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PDF_INVOICE_FILEID" value="BDa8SI9p5e8Vd" />

    <!--Test Mode-->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestMode" value="false" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestEmail" value="viriya.foopuntuwut@dga.or.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestEmail2" value="viriya.foopuntuwut@dga.or.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="EnableTestOrgranizationID" value="false" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestOrgranizationID" value="999001" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PromtPayNumber" value="084-335-8044" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="Test.PermitAll.WhiteList" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OSSAddress" value="59/1 ถนนพิษณุโลก แขวงดุสิต เขตดุสิต กรุงเทพฯ 10300" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OrgTel" value="02-356-9999" />

    <!-- Landpage ID -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="CitizenLandingContentID" value="37" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="JuristicLandingContentID" value="37" />

    <!-- Google Api Key -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="googleapi:UrlShortener" value="AIzaSyDopLyMduAZJdkQhbhdn7n2Vdyn8ahM1Cw" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="googleapi:GoogleMaps" value="AIzaSyAT1Wo7s8Jol6vpKpueB993I7BqU0ztzvc" />

    <!-- DGA Ws  -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DGA_WS_URL" value="https://api.egov.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ConsumerKey" value="59a92baa-4418-4b69-8ea9-67eecc042aa2" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ConsumerSecret" value="6VZxqW0d7sE" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ConsumerKeyDBDSecured" value="bb931c7f-7b5d-452e-879e-9e0fb788f4d8" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ConsumerSecretDBDSecured" value="BTM5zVokn3O" />

    <!-- File service -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FileServiceUploadTokenPath" value="https://file.dga.or.th/api/requesttoken/upload" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FileServiceDownloadTokenPath" value="https://file.dga.or.th/api/requesttoken/download" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FileServiceDeleteTokenPath" value="https://file.dga.or.th/api/requesttoken/delete" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FileServicePath" value="https://file.dga.or.th/api/file/" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FileConsumerKey" value="23f678cf-f45f-4cde-a139-454566f6351a" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FileConsumerSecret" value="02b2b791-be1a-4fcf-bbfb-959516a0a4f5" />

    <!-- Sms Service -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SMSApi" value="/ega/sms/send" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SMSUser" value="bizportal" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SMSPwd" value="asdf+1234" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SMSSender" value="EGA" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="GetHolliday" value="/ega/calendar/holliday" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ContentStoreUrl" value="/content" />

    <!-- Email Settinga -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MailUser" value="citizensmartinfo.service@dga.or.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MailPwd" value="12345678" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MailSMTP" value="outgoing.mail.go.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MailSender" value="noreply@dga.or.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MailSenderName" value="noreply@dga.or.th" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ContactEmail" value="contact@dga.or.th" />

    <!-- Import Settings -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ImportMemberServiceTemplateVersion" value="1.0.0" />

    <!-- SSO -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="LABOUR_EFORM_APPID" value="3" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SSO_JURISTIC_STATUS_WS_URL" value="/sso/register/juristic/status" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SSO_CITIZEN_STATUS_WS_URL" value="/sso/register/citizen/status" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="SSO_HOSPITAL_LIST_WS_URL" value="/sso/hospital" />

    <!-- MEA -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MEA_MWA_EFORM_APPID" value="4" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MEA_APPID" value="5" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MEA_MWA_CONTENTID" value="41" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MEA_WS_URL" value="http://icheck.mea.or.th/api/services/bizportal/request" />

    <!-- MWA -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MWA_APPID" value="6" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MWA_REGIS_WS_URL" value="/mwa/biz/v1/sendrequest" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MWA_UPDATE_WS_URL" value="/mwa/application/update" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MWA_BRANCH_WS_URL" value="/mwa/biz/v1/branch" />

    <!-- TOT -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TOT_REGIS_APPID" value="7" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TOT_JURISTIC_REGIS_WS_URL" value="/tot/bizportal/request" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TOT_CITIZEN_REGIS_WS_URL" value="/tot/bizportal/citizen/request" />

    <!-- PEA -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PEA_APPID" value="8" />

    <!-- VAT -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="VAT_APPID" value="9" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="VAT_REGIS_WS_URL" value="/rd/tax/register" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="VAT_STATUS_WS_URL" value="/rd/tax/status" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="VAT_PRINT_PP01" value="http://vsreg.rd.go.th/FVATNID/jsp/printega.jsp?txtTIN=" />

    <!-- PWA -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PWA_APPID" value="10" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PWA_REGIS_WS_URL" value="https://customer-application.pwa.co.th/ws/receive" />

    <!-- HSS -->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="HSS_HEALTHCARE_WS_URL" value="/hss/spa/register" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="HSS_HEALTHCARE_WS_URL_CHECK_SPA_NAME" value="/hss/spa/checkspaname" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="HSS_HEALTHCARE_WS_URL_CHECK_MANAGER" value="/hss/spa/checkmanager" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="HSS_HEALTHCARE_WS_URL_CHECK_Personal" value="/hss/spa/checkpersonal" />

    <!-- DPT --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DPTFileConsumerKey" value="e22c4b17-11b2-4b76-b1a5-7bd28d05ac0f" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DPT_BUILDING_G1_WS_URL" value="/dpt/buildingr1/dev/register" />

    --><!-- DOT --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOT_TOURISM_BUSINESS_TOKEN_WS_URL" value="/dot/tourism/dev/token" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOT_TOURISM_BUSINESS_REGIS_WS_URL" value="/dot/tourism/dev/register" />

    --><!-- DOA --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOA_MASTERDATA_PLANTS_WS_URL" value="/doa/masterdata/plants" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOA_MASTERDATA_PLANTTYPES_WS_URL" value="/doa/masterdata/planttypes" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOA_REQUEST_FARMER_WS_URL" value="/doa/request/farmer" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOA_REQUEST_FARMERRENEW_WS_URL" value="/doa/request/farmerrenew" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOA_REQUEST_FARMEREDIT_WS_URL" value="/doa/request/farmeredit" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DOA_CONSUMERKEY" value="247bacb2-ef64-49a2-8d9f-18d6c8362944" />

    --><!-- DBD --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="BKK_COMMERCIAL_WS_URL" value="/bkk/commercial/dev/register" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_COMMERCE_CHECK_WS_URL" value="/dbd/commerce/dev/check" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_COMMERCE_REGIS_WS_URL" value="/dbd/commerce/dev/request/register" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_COMMERCE_CHANGE_WS_URL" value="/dbd/commerce/dev/request/change" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_COMMERCE_CLOSE_WS_URL" value="/dbd/commerce/dev/request/close" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_COMMERCE_UPDATE_WS_URL" value="/dbd/commerce/dev/reqest/attach/add" />

    --><!-- DEDE --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_FUEL_WS_URL" value="/dede/masterdata/dev/fuel" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_PLANT_WS_URL" value="/dede/masterdata/dev/plant" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_REGIONS_WS_URL" value="/dede/masterdata/dev/regions" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_PROVINCE_WS_URL" value="/dede/masterdata/dev/province" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_PROVINCE_UNDER_REGION_WS_URL" value="/dede/masterdata/dev/provinceUnderRegion" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_CITY_WS_URL" value="/dede/masterdata/dev/city" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_CITY_UNDER_PROVINCE_WS_URL" value="/dede/masterdata/dev/cityUnderProvince" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_DISTRICT_WS_URL" value="/dede/masterdata/dev/district" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_DISTRICT_UNDER_CITY_WS_URL" value="/dede/masterdata/dev/districtUnderCity" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_USER_TYPE_WS_URL" value="/dede/masterdata/dev/usertype" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_GEN_TYPE_WS_URL" value="/dede/masterdata/dev/gentype" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_SOLAR_WS_URL" value="/dede/masterdata/dev/solar" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_SOLAR_TYPE_WS_URL" value="/dede/masterdata/dev/solartype" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_PERMIT_WS_URL" value="/dede/masterdata/dev/permit" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_COMPANY_PREFIX_WS_URL" value="/dede/masterdata/dev/companyPrefix" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_PURPOSE_WS_URL" value="/dede/masterdata/dev/purpose" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DEDE_MASTERDATA_DOCUMENT_WS_URL" value="/dede/masterdata/dev/document" />-->

    <!-- OPEC --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="OPEC_CITIZEN_SSO_URL" value="https://psds.opec.go.th/psds/ApplySchool.htm?mode=doGet" />

    --><!-- DIW --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DIW_CITIZEN_SSO_URL" value="http://dsapptest.diw.go.th/bizopenid_dev_citizen.aspx" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DIW_JURISTIC_SSO_URL" value="http://dsapptest.diw.go.th/bizopenid_dev_niti.aspx" />-->

    <!--FDA--> 
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="PATH_BIZ_CER" value="C:\inetpub\wwwroot\Cert\FDA\FDA_PUBLIC.cer" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FDA_URL_GET_PERMISSION" value="/ws/fda/request/permission" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="FDA_TOKEN_KEY" value="PlAr2dxmz6GpOqsWW8ofIAUU" />

    <!-- Business Secured --><!--
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MD_WS_URL_BY_SHIPCODE" value="/md/shipmortgage/dev/shipcode" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="MD_WS_URL_BY_CITIZEN_JURISTIC" value="/md/shipmortgage/dev/citizenid" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_WS_URL_BY_OWNER" value="/dbd/secure/v1/owner" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_WS_URL_BY_SHIPCODE" value="/dbd/secure/v1/registship" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_WS_URL_BY_CAR" value="/dbd/secure/v1/registcar" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_WS_URL_BY_MATCHINE" value="/dbd/secure/v1/registmatchine" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DBD_WS_URL_BY_BEASTOFBURDEN" value="/dbd/secure/v1/beastofburden" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="DIW_WS_URL_BY_MACHINEMORTGAGE" value="/diw/machinemortgage/dev/get" />-->

  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>