<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection"
    connectionString="Data Source=10.10.44.32\DTS2014,1443;Initial Catalog=BizPortal_Test;Persist Security Info=True;User ID=sa;Password=&quot;it;y'9y;fufu&quot;"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MongoServerSettings" connectionString="mongodb://bizadmin:bizadmin@10.10.44.46:27017/biz_test" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestMode" value="true" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestEmail" value="tester.gadq@gmail.com" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NDIDCallbackUrl" value="http://164.115.17.165/bizportal" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="BizUrl" value="http://164.115.17.165/Bizportal" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ServiceUrl" value="http://164.115.17.165/Bizportal" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>