.font-weight-normal{
        font-weight:normal;
    }
    .agent-remark-box{
        padding-bottom:20px;
    }
     p{
        margin-bottom:10px;
    }
     img.img-qrcode{
        width:150px;
    }
    .tb-qrcode .qr-col-image{
        vertical-align:middle;
        width:1%;        
    }
    .tb-qrcode{
        width: 100%;
        border:none;
    }
    .tb-qrcode thead > tr > th{
        border:none;
    }
    .tb-qrcode tbody > tr > td{
        border:none;
        padding:10px;
    }
    .tb-qrcode .qr-col-header-text, .qr-col-desc-text{
        width:220px;
    }
    .tb-qrcode .qr-col-semicolon{
        width:10px;
    }

    .head-tb-qr-code{
        background-color:#019bdb;
        color:#fff;
        font-weight:bold;
        font-size:15px;
    }
    .qrcode-total{
        color:#019bdb;
    }
