.font-weight-normal{
        font-weight:normal;
    }
    .agent-remark-box{
        padding-bottom:20px;
    }
    .modal-body p{
        margin-bottom:10px;
    }
    .modal .modal-body img.img-qrcode{
        width:150px;
    }
    .modal .modal-body .tb-qrcode .qr-col-image{
        vertical-align:middle;
        width:160px;        
    }
    .modal .modal-body .tb-qrcode{
        width: 100%;
        border:none;
    }
    .modal .modal-body .tb-qrcode thead > tr > th{
        border:none;
    }
    .modal .modal-body .tb-qrcode tbody > tr > td{
        border:none;
        padding:3px;
    }
    .modal .modal-body .tb-qrcode .qr-col-header-text, .qr-col-desc-text{
        width:220px;
    }
    .modal .modal-body .tb-qrcode .qr-col-semicolon{
        width:10px;
    }

    .btn-inactive-download-box{
        padding-bottom:10px;
    }
    .lbl-inactive-btn-download{
        font-size:18px;
        color:red;
    }

