@import "colors";

//color
$c-primary-red: #E95458;
$c-primary-green: #6ABF23;
$c-primary-yellow: #F5EE34;
$c-primary-blue: #5CA1BF;
$c-main-blue: #5CA1BF;
$c-main-blue-h: #4D87A0;
$c-blue1: #5CA1BF;
$c-blue2: #E6F5FF;
$c-blue3: #008FE8;
$c-blue4: #83C8E6;
$c-blue: #41A7D3;
$c-red: #E95458;
$c-hover: #A0A0A0;


$c-header-menu: #2A2A2A;
$c-header: #282828;
$c-title: #8F8F8F;
$c-body: #6F6F6F;
$c-icon: #A0A0A0;

$c-white: #FFFFFF;
$c-black: #000000;

$c-bg1: #FFFFFF;
$c-bg2: #FAFAFA;
$c-bg3: #F2F7FA;
$c-line: #DEDEDE;
$c-grey: #212121;
$c-grey2: #a0a0a0;
$c-block: #6F6F6F;

$c-grey1: #868585;
$c-grey3: #F8F8F8;
$c-grey4: #C1C1C1;
$c-grey5: #424141;
$c-grey6: #9A9A9A;
