@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-left" style="font-weight:800; text-decoration: underline;">หมายเหตุ</span>
        <div class="col-md-12">
            <span class="pull-left">
                ๑. ข้อความใดไม่ใช้ให้ขีดฆ่า<br />
                ๒. ให้ใส่ เครื่องหมายถูก ในช่องหน้าข้อความที่ต้องการ
            </span>
        </div>
    </div>
</div>