@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-2">
        <span class="pull-right">(ลงชื่อ)</span>
    </div>
    <div class="col-md-10">
        .........................................................................
        <span style="padding-left: 30px">ผู้ขออนุมัติ</span>
    </div>
</div>
<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-2">
        <span class="pull-right">(</span>
    </div>
    <div class="col-md-10">
        .........................................................................
        <span style="padding-left: 30px">)</span>
    </div>
</div>

