@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">ผู้ขออนุญาต</span>
        <span class="pull-right">.........................................................................</span>
        <span class="pull-right">ลงลายมือชื่อ</span>
    </div>
</div>
<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">(  ..........................................................................................  )</span>
    </div>
</div>

