@using BizPortal.DAL.MongoDB
@model FormControl

<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <br />
        <span class="pull-right">เป็นผู้ดำเนินการสถานพยาบาลสัตว์แห่งนี้</span>
        <span class="pull-right">.............................................................................................  </span>
        <span class="pull-right">ข้าพเจ้ายินยอมให้</span>
    </div>
</div>
<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">.............................................................................................  </span>
        <span class="pull-right">ลงชื่อ</span>
    </div>
</div>
<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">(  ..........................................................................................  )</span>
    </div>
</div>
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">ผู้ขอรับใบอนุญาต/ผู้รับอนุญาตให้ตั้งสถานพยาบาลสัตว์</span>
    </div>
</div>
