@using BizPortal.DAL.MongoDB
@model FormControl

<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <br />
        <span class="pull-right">...................</span>
        <span class="pull-right">พ.ศ.</span>
        <span class="pull-right">.......................................</span>
        <span class="pull-right">เดือน</span>
        <span class="pull-right">.............................</span>
        <span class="pull-right">วัน</span>
    </div>
</div>
<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">เจ้าของป้าย</span>
        <span class="pull-right">.............................................................................................  </span>
        <span class="pull-right">ลงชื่อ</span>
    </div>
</div>
<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="pull-right">(  ..........................................................................................  )</span>
    </div>
</div>


