@using BizPortal.DAL.MongoDB
@model FormControl


<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="center" style="font-weight:800; text-decoration: underline;">ความเห็นเจ้าหน้าที่</span>
    </div>
    <div class="col-md-12" style="height: 3cm; border: solid black; margin-top: 10px; margin-bottom: 10px"></div>
    <div class="col-md-6" style="margin-top: 1cm;">
        <span class="pull-right">(ลงชื่อ)</span>
    </div>
    <div class="col-md-6" style="margin-top: 1cm;">
        ........................................... <br />เจ้าหน้าที่
    </div>
    <div class="col-md-6" style="margin-top: 1cm;">
        <span class="pull-right">วันที่</span>
    </div>
    <div class="col-md-6" style="margin-top: 1cm;">
        ...........................................
    </div>
</div>

<br />
<div class="row" style="page-break-inside: avoid">
    <div class="col-md-12">
        <span class="center" style="font-weight:800; text-decoration: underline;">คำสั่งนายทะเบียน</span>
    </div>
    <div class="col-md-12" style="height: 3cm; border: solid black; margin-top: 10px; margin-bottom: 10px"></div>
    <div class="col-md-6" style="margin-top: 1cm;">
        <span class="pull-right">(ลงชื่อ)</span>
    </div>
    <div class="col-md-6" style="margin-top: 1cm;">
        ........................................... <br />นายทะเบียน
    </div>
    <div class="col-md-6" style="margin-top: 1cm;">
        <span class="pull-right">วันที่</span>
    </div>
    <div class="col-md-6" style="margin-top: 1cm;">
        ...........................................
    </div>
</div>

